
  <div class="main inner fadeIn animated">
    <div class="container">

      <header class="content__header">
        <div class="title"><h1 class="h1">FAQ - Frequently Asked Questions</h1></div>

        <div class="sub-title">
          <p class="p_large pre-line" [innerHTML]="'FAQ.subtitle' | translate"></p>
        </div>

      </header>

      <div class="main__wrapper">
        <div class="navbars" >
          <nav class="navbars-nav">
            <div class="item">
              <div class="item__title" [innerHTML]="'FAQ.category.General.name' | translate">Title</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#category1-item1" [innerHTML]="'FAQ.category.General.question1.title' | translate">Title</a></li>
                  <li><a href="#category1-item2" [innerHTML]="'FAQ.category.General.question2.title' | translate">Title</a></li>
                  <li><a href="#category1-item3" [innerHTML]="'FAQ.category.General.question3.title' | translate">Title</a></li>
                  <li><a href="#category1-item4" [innerHTML]="'FAQ.category.General.question4.title' | translate">Title</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title" [innerHTML]="'FAQ.category.auth.name' | translate">Title</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#category2-item1" [innerHTML]="'FAQ.category.auth.question1.title' | translate">Title</a></li>
                  <li><a href="#category2-item2" [innerHTML]="'FAQ.category.auth.question2.title' | translate">Title</a></li>
                  <li><a href="#category2-item3" [innerHTML]="'FAQ.category.auth.question3.title' | translate">Title</a></li>
                  <li><a href="#category2-item4" [innerHTML]="'FAQ.category.auth.question4.title' | translate">Title</a></li>
                  <li><a href="#category2-item5" [innerHTML]="'FAQ.category.auth.question5.title' | translate">Title</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title" [innerHTML]="'FAQ.category.Finance.name' | translate">Title</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#category3-item1" [innerHTML]="'FAQ.category.Finance.question1.title' | translate">Title</a></li>
                  <li><a href="#category3-item2" [innerHTML]="'FAQ.category.Finance.question2.title' | translate">Title</a></li>
                  <li><a href="#category3-item3" [innerHTML]="'FAQ.category.Finance.question3.title' | translate">Title</a></li>
                  <li><a href="#category3-item4" [innerHTML]="'FAQ.category.Finance.question4.title' | translate">Title</a></li>
                  <li><a href="#category3-item5" [innerHTML]="'FAQ.category.Finance.question5.title' | translate">Title</a></li>
                  <li><a href="#category3-item6" [innerHTML]="'FAQ.category.Finance.question6.title' | translate">Title</a></li>
                  <li><a href="#category3-item7" [innerHTML]="'FAQ.category.Finance.question7.title' | translate">Title</a></li>
                  <li><a href="#category3-item8" [innerHTML]="'FAQ.category.Finance.question8.title' | translate">Title</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title" [innerHTML]="'FAQ.category.Affiliate.name' | translate">Title</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#category4-item1" [innerHTML]="'FAQ.category.Affiliate.question1.title' | translate">Title</a></li>
                  <li><a href="#category4-item2" [innerHTML]="'FAQ.category.Affiliate.question2.title' | translate">Title</a></li>
                  <li><a href="#category4-item3" [innerHTML]="'FAQ.category.Affiliate.question3.title' | translate">Title</a></li>
                </ol>
              </div>
            </div>
          </nav>
        </div>


        <div class="content ">

          <div class="cards">

            <div class="blank-self tape-top">

              <div class="blank-self__head">
                <h2 class="title-great" [innerHTML]="'FAQ.category.General.name' | translate">General</h2>
              </div>

              <div class="blank-self__content"></div>

              <div class="content">
                <div class="items list-numeric drop">

                  <div class="item" id="category1-item1">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.General.question1.title' | translate">title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.General.question1.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category1-item2">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.General.question2.title' | translate">title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.General.question2.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category1-item3">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.General.question3.title' | translate">title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.General.question3.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category1-item4">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.General.question4.title' | translate">title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.General.question4.text' | translate">text</p></div>
                  </div>

                </div>

              </div>

            </div>

            <div class="blank-self">

              <div class="blank-self__head">
                <h2 class="title-great" [innerHTML]="'FAQ.category.auth.name' | translate">Auth</h2>
              </div>

              <div class="blank-self__content"></div>

              <div class="content">
                <div class="items list-numeric drop">

                  <div class="item" id="category2-item1">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.auth.question1.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.auth.question1.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category2-item2">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.auth.question2.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.auth.question2.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category2-item3">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.auth.question3.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.auth.question3.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category2-item4">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.auth.question4.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.auth.question4.text' | translate">text</p></div>
                  </div>
                  <div class="item" id="category2-item5">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.auth.question5.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.auth.question5.text' | translate">text</p></div>
                  </div>

                </div>

              </div>

            </div>

            <div class="blank-self">

              <div class="blank-self__head">
                <h2 class="title-great" [innerHTML]="'FAQ.category.Finance.name' | translate">Auth</h2>
              </div>

              <div class="blank-self__content"></div>

              <div class="content">
                <div class="items list-numeric drop">

                  <div class="item" id="category3-item1">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question1.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question1.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category3-item2">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question2.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question2.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category3-item3">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question3.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question3.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category3-item4">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question4.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question4.text' | translate">text</p></div>
                  </div>
                  <div class="item" id="category3-item5">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question5.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question5.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category3-item6">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question6.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question6.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category3-item7">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question7.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question7.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category3-item8">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Finance.question8.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Finance.question8.text' | translate">text</p></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="blank-self">

              <div class="blank-self__head">
                <h2 class="title-great" [innerHTML]="'FAQ.category.Affiliate.name' | translate">Auth</h2>
              </div>

              <div class="blank-self__content"></div>

              <div class="content">
                <div class="items list-numeric drop">

                  <div class="item" id="category4-item1">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Affiliate.question1.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Affiliate.question1.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category4-item2">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Affiliate.question2.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Affiliate.question2.text' | translate">text</p></div>
                  </div>

                  <div class="item" id="category4-item3">
                    <div class="item__head title-inner" [innerHTML]="'FAQ.category.Affiliate.question3.title' | translate">Title</div>
                    <div class="item__content"><p class="pre-line" [innerHTML]="'FAQ.category.Affiliate.question3.text' | translate">text</p></div>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
