<div class="step">
  <div class="step-title"><h3 class="h3">5. {{ 'process5.title-account' | translate }}</h3></div>

  <p class="p_small pre-line" [innerHTML]="'process5.sub-title' | translate">
    <!--<b>Pošlete</b> částku na uvedený <b>bankovní účet</b>. Dbejte na <b>potvrzení</b> odeslání až v momentu, kdy budou finance <b>skutečně odeslány</b>.-->
  </p>

  <div class="exchange-info">
    <div class="line-sides">{{ 'process5.amount-transfer' | translate }}</div>

    <div class="select-amount">
      <label class="input-exchange">
        <div class="input">
          <input type="text" [attr.value]="inputFrom" readonly>
          <span class="currency">{{selectedFrom.currency}}</span>
        </div>
      </label>
    </div>
    <div class="line-sides">{{ 'process5.payment-information' | translate }}</div>
  </div>


  <table class="exchange-info__direction">
    <tr>
      <td>
        <span>{{ 'exchange.PersonalInfo.Name' | translate }}</span>
        <b><strong>{{dataBank.controlsEmail}}</strong></b>
      </td>
    </tr>
    <tr>
      <td>
        <span>{{ 'exchange.PersonalInfo.BankAccount' | translate }}</span>
        <b><strong>{{dataBank.controlsBank}}</strong></b>
      </td>
      <td>
        <span>{{ 'exchange.PersonalInfo.BankCode' | translate }}</span>
        <b><strong>{{dataBank.controlsBankCode}}</strong></b>
      </td>
    </tr>

    <tr>
      <td>
        <span>Contact e-mail:</span>
        <b><strong>{{dataBank.controlsEmail}}</strong></b>
      </td>
    </tr>
  </table>
  <hr>
  <p class="p_small pre-line" [innerHTML]="'process5.info-instruction' | translate">
  </p>

  <div class="between-children">
    <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>
    <a href="#" class="btn btn-accent rippler rippler-default" (click)="goToPay($event)">Pay</a>
  </div>
</div>

