<div class="step">
  <div class="step-title"><h3 class="h3">2. Register and get exchange benefits</h3></div>

  <p class="p_small" [innerHTML]="'exchange.ProcessLoginOffer' | translate">
  </p>
  <div class="reduced-width">
    <a href="#" class="btn btn-accentSecond rippler rippler-default full-width" (click)="goToAuth($event)">I have an account</a>
    <div class="or line-sides">or</div>
    <a href="#" class="btn btn-accentSecond rippler rippler-default full-width" (click)="goToRegistr($event)">Create free account</a>

    <div class="text-center tip-link">
      <a href="#" (click)="goToNext($event)" class="link tt-uppercase pt-sans">continue without account</a>
    </div>

    <div class="text-center">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>
    </div>
  </div>
</div>
