<div class="reduced-width">
  <div class="switch">
    <div class="currencies currencies_small">
      <div class="item">
        <div class="item-icons" style="background-image: url(../../assets/img/adv-cash.png);"></div>
        <div class="item-value" value="Advanced Cash">Advanced Cash</div>
      </div>

      <div class="switch-btn"></div>

      <div class="switch-stats">
        <div class="tape">Fee: 1.00 %</div>
        <div class="tape tape-accent">Discount: 0.00 %</div>
      </div>

      <div class="item">
        <div class="item-icons" style="background-image: url(../../assets/img/bitcoin.png);"></div>
        <div class="item-value" value="Bitcoin">Bitcoin</div>
      </div>
    </div>
  </div>
  <div class="captcha">
    <img src="../../assets/img/captcha.png" alt="">
  </div>

  <div class="btn-wrapper">
    <a href="#" class="btn btn-accent rippler rippler-default full-width">Exchange</a>
  </div>
</div>
