<div class="reduced-width">
  <div class="switch">
    <div class="currencies currencies_small">
      <div class="item">
        <div class="item-icons" [style.background-image]="'url(' + exchangeFrom?.logo +')'"></div>
        <div class="item-value" value="Advanced Cash">{{exchangeFrom?.name || 'From'}}</div>
      </div>
      <div class="switch-btn"></div>

      <div class="switch-stats">
        <div class="tape">Fee: {{exchangeTo?.commission || '0.00'}} %</div>
        <div class="tape tape-accent">Discount: {{userDiscount || '0.00'}} %</div>
      </div>

      <div class="item">
        <div class="item-icons" [style.background-image]="'url(' + exchangeTo?.logo +')'"></div>
        <div class="item-value" value="Bitcoin">{{exchangeTo?.name || 'To'}}</div>
      </div>
    </div>
  </div>
  <div class="captcha">
    <img src="../../assets/img/captcha.png" alt="">
  </div>

  <div class="btn-wrapper">
    <a href="#" class="btn btn-accent rippler rippler-default full-width">Exchange</a>
  </div>
</div>
