<div class="main landing fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Become a partner</h1></div>
      <div class="sub-title">
        <p class="p_large pre-line">{{ 'become-partner.sub-head' | translate }}
        </p>
      </div>
    </header>

    <div class="main__wrapper">


      <div class="content">
        <div class="landing-page">
          <div class="advantages blank-self tape-top">

            <div class="item">
              <div class="item-icons">
                <img src="../assets/img/adv-icons2.png" alt="Staňte se doporučitelem">
              </div>
              <a href="#block1"  class="item-title"><span class="pre-line">{{ 'become-partner.block1-text1' | translate }}</span></a>
            </div>

            <div class="item">
              <div class="item-icons">
                <img src="../assets/img/adv-icons1.png" alt="Staňte se velkoodběratele">
              </div>
              <a href="#block2" class="item-title"><span class="pre-line">{{ 'become-partner.block1-text2' | translate }}</span></a>
            </div>

            <div class="item">
              <div class="item-icons">
                <img src="../assets/img/adv-icons3.png" alt="Otevřete si směnárnu">
              </div>
              <a href="#block3"  class="item-title"><span class="pre-line">{{ 'become-partner.block1-text3' | translate }}</span></a>
            </div>
          </div>

          <div class="magazine">
            <div id="block1" class="item blank-self">
              <div class="blank-self__head">
                <h2 class="h2">{{ 'become-partner.block2-title' | translate }}</h2>
              </div>
              <div class="item-info">
                <p class="p_small pre-line">
                  {{ 'become-partner.block2-text' | translate }}
                </p>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-accentSecond">{{ 'become-partner.block2-btn' | translate }}</a>
                </div>
              </div>

              <div class="item-image">
                <img src="../assets/img/magazine-image1.png" alt="" class="img">
              </div>
            </div>

            <div id="block2" class="item blank-self item_reverse">
              <div class="blank-self__head">
                <h2 class="h2">{{ 'become-partner.block3-title' | translate }}</h2>
              </div>

              <div class="item-info">
                <p class="p_small pre-line">
                  {{ 'become-partner.block3-text' | translate }}
                </p>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-accentSecond">business@smartex.info</a>
                </div>
              </div>

              <div class="item-image">
                <div class="iframe">
                  <div class="site">
                    <div class="site-header">
                      <a href="#" class="logo">
                        <img src="../../assets/img/iframe/logo.svg" alt="">
                        <span>Unicash</span>
                      </a>
                      <div class="slogan">
                        <h1 class="slogan-title">Thousands of Customers use Unicash</h1>
                        <h2 class="slogan-subtitle">Verified partner of safe and stable exchange platform network</h2>
                      </div>
                    </div>

                    <div class="site-content">
                      <ul>
                        <li>Security</li>
                        <li>Fast</li>
                        <li>Stability</li>
                      </ul>
                      <div class="hexagon"><img src="../../assets/img/iframe/hexagon.svg" alt=""></div>
                    </div>
                    <div class="site-footer">
                      <p>Unicash partner code: <b>UxC479</b></p>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div id="block3" class="item blank-self">
              <div class="blank-self__head">
                <h2 class="h2">{{ 'become-partner.block4-title' | translate }}</h2>
              </div>

              <div class="item-info">
                <p class="p_small pre-line">
                  {{ 'become-partner.block4-text' | translate }}
                </p>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-accentSecond">business@smartex.info</a>
                </div>
              </div>

              <div class="item-image">
                <img src="../assets/img/magazine-image2.png" alt="" class="img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
