<div class="main landing fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Become a partner</h1></div>
      <div class="sub-title">
        <p class="p_large pre-line">{{ 'become-partner.sub-head' | translate }}
        </p>
      </div>
    </header>

    <div class="main__wrapper">


      <div class="content">
        <div class="landing-page">
          <div class="advantages blank-self tape-top">
            <div class="item">
              <div class="item-icons">
                <img src="../assets/img/adv-icons1.png" alt="Staňte se doporučitelem">
              </div>
              <div class="item-title"><span class="pre-line">{{ 'become-partner.block1-text1' | translate }}</span></div>
            </div>

            <div class="item">
              <div class="item-icons">
                <img src="../assets/img/adv-icons2.png" alt="Staňte se velkoodběratele">
              </div>
              <div class="item-title"><span class="pre-line">{{ 'become-partner.block1-text2' | translate }}</span></div>
            </div>

            <div class="item">
              <div class="item-icons">
                <img src="../assets/img/adv-icons3.png" alt="Otevřete si směnárnu">
              </div>
              <div class="item-title"><span class="pre-line">{{ 'become-partner.block1-text3' | translate }}</span></div>
            </div>
          </div>

          <div class="magazine">
            <div class="item blank-self">
              <div class="blank-self__head">
                <h2 class="h2">{{ 'become-partner.block2-title' | translate }}</h2>
              </div>
              <div class="item-info">
                <p class="p_small pre-line">
                  {{ 'become-partner.block2-text' | translate }}
                </p>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-accentSecond">{{ 'become-partner.block2-btn' | translate }}</a>
                </div>
              </div>

              <div class="item-image">
                <img src="../assets/img/magazine-image1.png" alt="">
              </div>
            </div>

            <div class="item blank-self item_reverse">
              <div class="blank-self__head">
                <h2 class="h2">{{ 'become-partner.block3-title' | translate }}</h2>
              </div>

              <div class="item-info">
                <p class="p_small pre-line">
                  {{ 'become-partner.block3-text' | translate }}
                </p>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-accentSecond">business@smartex.info</a>
                </div>
              </div>

              <div class="item-image">
                <img src="../assets/img/magazine-image3.png" alt="">
              </div>
            </div>


            <div class="item blank-self">
              <div class="blank-self__head">
                <h2 class="h2">{{ 'become-partner.block4-title' | translate }}</h2>
              </div>

              <div class="item-info">
                <p class="p_small pre-line">
                  {{ 'become-partner.block4-text' | translate }}
                </p>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-accentSecond">business@smartex.info</a>
                </div>
              </div>

              <div class="item-image">
                <img src="../assets/img/magazine-image2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
