
  <div class="main contact-page fadeIn animated">
    <div class="container">

      <header class="content__header">
        <div class="title"><h1 class="h1">Contact</h1></div>

        <div class="sub-title">
          <p class="p_large pre-line" [innerHTML]="'Contacts.subtitle' | translate"></p>
        </div>

      </header>

      <div class="main__wrapper ">


        <div class="content ">

          <div class="cards">

            <div class="blank-self tape-top">


              <div class="contacts">
                <div class="contacts__map">
                  <div id="map"></div>
                </div>
                <div class="contacts__info">


                  <div class="blank-self__head">
                    <h2 class="h2">Smartex Internacional, s. r. o.</h2>
                  </div>

                  <div class="blank-self__content">

                    <div class="content">

                      <div class="items">
                        <div class="item">
                          <div class="value-wr">
                            <div class="item__label label">Company address</div>
                            <div class="item__value title-inner">95 1st Ave, New York, NY 10003, USA</div>
                          </div>
                        </div>

                        <div class="item">
                          <div class="value-wr">
                            <div class="item__label label">Company identification number:</div>
                            <div class="item__value title-inner">60754435</div>
                          </div>
                        </div>

                        <div class="line-sides">Contact information</div>

                        <div class="item">
                          <div class="item__icon ic ic-mail"></div>
                          <div class="value-wr">
                            <div class="item__label label">Support e-amil:</div>
                            <div class="item__value title-inner">support@smartex.info</div>
                          </div>
                        </div>

                        <div class="item">
                          <div class="item__icon ic ic-skype"></div>
                          <div class="value-wr">
                            <div class="item__label label">Skype:</div>
                            <div class="item__value title-inner">smartex_skype</div>
                          </div>
                        </div>

                        <div class="item">
                          <div class="item__icon ic ic-fbook"></div>
                          <div class="value-wr">
                            <div class="item__label label">Facebook:</div>
                            <div class="item__value title-inner">facebook.com/smartex</div>
                          </div>

                        </div>

                        <div class="item">
                          <div class="item__icon ic ic-insta"></div>
                          <div class="value-wr">
                            <div class="item__label label">Instagram:</div>
                            <div class="item__value title-inner">instagram.com/smartex</div>
                          </div>
                        </div>

                        <div class="item">
                          <div class="item__icon ic ic-phone"></div>
                          <div class="value-wr">
                            <div class="item__label label">Phone number:</div>
                            <div class="item__value title-inner">+420 775 478 987</div>
                          </div>
                        </div>


                      </div>



                    </div>
                  </div>

                </div>
              </div>
            </div>



            <div class="blank-self banner">

              <div class="blank-self__head tac">
                <h2 class="h2" [innerHTML]="'Contacts.partofUnicash' | translate"></h2>
              </div>

              <div class="blank-self__content"></div>

              <div class="content">
                <div class="items ">

                  <div class="banner-img">
                    <!--<img src="img/banner.png" alt="">-->
                  </div>


                </div>

              </div>

            </div>



          </div>

        </div>

      </div>
    </div>
  </div>
