<div class="main inner-large fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title title-single"><h1 class="h1">Transaction History</h1></div>
    </header>

    <div class="main__wrapper">
      <div class="content">
        <div class="blank tape-top no-padding">
          <div class="blank-content">
            <div class="hard-table hz-scroll">
              <table>
                <thead>
                <tr>
                  <th>{{ 'table.HistoryReviews.col1' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col2' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col3' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col4' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col5' | translate }}:</th>
                  <th align="left">{{ 'table.HistoryReviews.col6' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col7' | translate }}:</th>
                </tr>
                </thead>


                <tbody>
                <tr *ngFor="let transactionItem of pagedItems; let i = index">
                  <td class="transfer-name"><b>{{transactionItem.date | date: 'dd.MM.'}}</b>{{transactionItem.date | date: 'yyyy'}}</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">{{transactionItem.inPayment.data.paymentSystem.data.name}}</div>
                      <div class="currency-icons" [style.background-image]="'url(' + transactionItem.inPayment.data.paymentSystem.data.logo_link +')'"></div>
                    </div>
                  </td>
                  <td align="right">{{transactionItem.in_amount}}
                    <b>{{transactionItem.in_prefix}}</b>
                  </td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">{{transactionItem.outPayment.data.paymentSystem.data.name}}</div>
                      <div class="currency-icons" [style.background-image]="'url(' + transactionItem.outPayment.data.paymentSystem.data.logo_link +')'"></div>
                    </div>
                  </td>
                  <td align="right">{{transactionItem.out_amount}}
                    <b>{{transactionItem.out_prefix}}</b>
                  </td>
                  <td>
                    <div class="transfer-status">
                      <div class="loader"><div class="loader-inside"></div></div>
                      {{ 'table.status.Verifying' | translate }}
                    </div>

                    <div class="transfer-status">
                      <span class="circle circle-red"></span>
                      {{ 'table.status.Failed' | translate }}
                    </div>

                    <div class="transfer-status">
                      <div class="loader"><div class="loader-inside"></div></div>
                      <div [innerHTML]="'table.status.Waiting' | translate"></div>
                    </div>

                    <div class="transfer-status">
                      <span class="circle circle-green"></span>
                      Úspěšně proběhlo
                    </div>



                  </td>
                  <td align="center">
                    <div class="rating rating-statick" *ngIf="transactionItem.rating > 0">
                      <div class="star" [ngClass]="{'is-active': transactionItem.rating === 5}"><img
                        src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star" [ngClass]="{'is-active': transactionItem.rating === 4 || transactionItem.rating === 5}">
                        <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star" [ngClass]="{'is-active': transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5}">
                        <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star" [ngClass]="{'is-active': transactionItem.rating === 2 || transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5}">
                        <img src="../assets/img/svg/star.svg" alt="" class="img-svg">
                      </div>
                      <div class="star"
                           [ngClass]="{'is-active': transactionItem.rating === 1 || transactionItem.rating === 2 || transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5  }">
                        <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                    <div *ngIf="transactionItem.rating === 0">No Rating</div>
                  </td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="paginator__wr">
          <div class="paginator">
            <div class="paginator__status"><span class=""><b>3</b> {{ 'exchange.PaginationOf' | translate }} <b>15</b></span></div>
            <div class="paginator__btns">

              <ul class="pages pages_desktop">
                <li class="page rippler rippler-default is-disabled"><a >First</a></li>
                <li class="page rippler rippler-default is-disabled"><a >Previous</a></li>
                <li class="page rippler rippler-default is-selected"><a>1</a></li>
                <li class="page rippler rippler-default"><a>2</a></li>
                <li class="page rippler rippler-default"><a >3</a></li>
                <li class="page rippler rippler-default"><a >4</a></li>
                <li class="page rippler rippler-default"><a >5</a></li>
                <li class="page is-skip"><span>...</span></li>
                <li class="page rippler rippler-default"><a >9</a></li>
                <li class="page rippler rippler-default"><a >10</a></li>
                <li class="page rippler rippler-default"><a >Next</a></li>
                <li class="page rippler rippler-default"><a >Last</a></li>

              </ul>

              <ul class="pages pages_mobile">
                <li class="page rippler rippler-default is-disabled"><a >First</a></li>
                <li class="page rippler rippler-default is-selected"><a>1</a></li>
                <li class="page rippler rippler-default"><a>2</a></li>
                <li class="page rippler rippler-default"><a >3</a></li>
                <li class="page is-skip"><span>...</span></li>
                <li class="page rippler rippler-default"><a >10</a></li>
                <li class="page rippler rippler-default"><a >Last</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="fixed-head desktop-only">
          <a href="#" class="btn btn-accentSecond rippler rippler-default">{{ 'exchange.NewExchange' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
