<div class="step">
  <div class="step-title"><h3 class="h3">2. Fast verification</h3></div>

  <p class="p_small">
    <b>Check your e-mail</b>, click on the activation <br>
    link or copy the activation code and <b>continue</b> the process.
  </p>

  <form action="#" class="form">
    <label class="form-group has-error">
      <span class="form-title">Activation code:</span>
      <input type="text" class="form-control" value="c5r6a9">
      <span class="error-label">Bad activation code, try it again</span>
    </label>

    <div class="text-center tip-link">
      <a href="#" class="link tt-uppercase">Send again</a>
    </div>

    <div class="form-btn between-children small-indent">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default">Verify e-mail</a>
        <input type="submit" hidden>
      </label>
    </div>

  </form>
</div>
