<div class="main inner-large fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Transaction History</h1></div>

      <div class="sub-title">
        <p class="p_large pre-line">Co o nás říkají naši spokojení zákazníci?
          Podívejte se na hodnocení transakcí, které nám zanechali.</p>
      </div>


      <div class="gratitude text-center">
        <img src="../assets/img/satisfaction_guarantee.png" alt="" class="img-left">
        <div class="gratitude-text">
          <hr>
          <h2 class="h2 pre-line">Více než <span class="accentColor">4,149 zákazníků</span> nám zanechalo
            hodnocení <span class="accentColor">5/5 hvězd</span>. Děkujeme.</h2>
        </div>
        <img src="../assets/img/green_shield_check_protected_checked.png" alt="" class="img-right">
      </div>
    </header>

    <div class="main__wrapper">
      <div class="content">
        <div class="blank tape-top no-padding">
          <div class="blank-content">
            <div class="hard-table hz-scroll" [ngClass]="{'custom-loader disabled': loadingTransaction}">
              <table>
                <thead>
                <tr>
                  <th align="center">{{ 'table.HistoryReviews.col1' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col2' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col3' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col4' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col5' | translate }}:</th>
                  <th>{{ 'table.HistoryReviews.col7' | translate }}:</th>
                </tr>
                </thead>

                <tbody>
                    <tr class="tr-default" *ngFor="let transactionItem of pagedItems; let i = index">

                      <td align="center" class="transfer-name">{{transactionItem.id}}</td>

                      <td>
                        <div class="currency">
                          <div class="currency-name">{{transactionItem.inPayment.data.paymentSystem.data.name}}</div>
                          <div class="currency-icons" [style.background-image]="'url(' + transactionItem.inPayment.data.paymentSystem.data.logo_link +')'"></div>
                        </div>
                      </td>
                      <td align="right">{{transactionItem.in_amount}}
                        <b>{{transactionItem.in_prefix}}</b>
                      </td>
                      <td>
                        <div class="currency">
                          <div class="currency-name">{{transactionItem.outPayment.data.paymentSystem.data.name}}</div>
                          <div class="currency-icons" [style.background-image]="'url(' + transactionItem.outPayment.data.paymentSystem.data.logo_link +')'"></div>
                        </div>
                      </td>
                      <td align="right">{{transactionItem.out_amount}}
                        <b>{{transactionItem.out_prefix}}</b>
                      </td>
                      <td align="center">

                        <div class="rating rating-static" *ngIf="transactionItem.rating > 0">
                          <div class="star" [ngClass]="{'is-active': transactionItem.rating === 5}"><img
                            src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star" [ngClass]="{'is-active': transactionItem.rating === 4 || transactionItem.rating === 5}">
                            <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star" [ngClass]="{'is-active': transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5}">
                             <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star" [ngClass]="{'is-active': transactionItem.rating === 2 || transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5}">
                             <img src="../assets/img/svg/star.svg" alt="" class="img-svg">
                          </div>
                          <div class="star"
                               [ngClass]="{'is-active': transactionItem.rating === 1 || transactionItem.rating === 2 || transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5  }">
                             <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div *ngIf="transactionItem.rating === 0">No Rating</div>

                      </td>
                    </tr>
                    <tr class="tr-content" *ngFor="let transactionItem of pagedItems; let i = index" >
                      <td colspan="7" [attr.tr-id]="transactionItem.id">
                        <div class="tr-review">
                          <!--<div class="tr-review__name">-->
                            <!--<b>{{transactionItem.id}}</b></div>-->
                          <div class="tr-review__text">
                            <div class="rating rating-statick">
                              <div class="star" [ngClass]="{'is-active': transactionItem.rating === 5}"><img
                                src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                              <div class="star" [ngClass]="{'is-active': transactionItem.rating === 4 || transactionItem.rating === 5}">
                                <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                              <div class="star" [ngClass]="{'is-active': transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5}">
                                <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                              <div class="star" [ngClass]="{'is-active': transactionItem.rating === 2 || transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5}">
                                <img src="../assets/img/svg/star.svg" alt="" class="img-svg">
                              </div>
                              <div class="star"
                                   [ngClass]="{'is-active': transactionItem.rating === 1 || transactionItem.rating === 2 || transactionItem.rating === 3 || transactionItem.rating === 4 || transactionItem.rating === 5  }">
                                <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                            </div>
                            <div class="quote">{{transactionItem.comment}}</div>
                          </div>
                          <!--<div class="tr-review__autor">-->
                            <!--<a href="#" class="link tt-uppercase">Sbalit komentář</a>-->
                          <!--</div>-->
                        </div>
                      </td>
                    </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="paginator__wr" *ngIf="pager.pages && pager.pages.length">
          <div class="paginator" >
            <div class="paginator__status"><span class=""><b>{{pager.currentPage}}</b> {{ 'exchange.PaginationOf' | translate }} <b>{{pager.totalPages}}</b>  </span></div>
            <div class="paginator__btns">

              <ul class="pages pages_desktop">
                <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
                </li>
                <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)" >Previous</a>
                </li>

                <li class="page rippler rippler-default" *ngFor="let page of pager.pages" [ngClass]="{'is-selected':pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>


                <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === pager.totalPages}"><a (click)="setPage(pager.currentPage + 1)">Next</a></li>
                <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === pager.totalPages}"><a (click)="setPage(pager.totalPages)">Last</a></li>

              </ul>


              <ul class="pages pages_mobile">
                <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === 1}">
                  <a (click)="setPageMobile(1)">First</a>
                </li>

                <li class="page rippler rippler-default" *ngFor="let page of pager.pages" [ngClass]="{'is-selected':pager.currentPage === page}">
                  <a (click)="setPageMobile(page)">{{page}}</a>
                </li>

                <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === pager.totalPages}"><a (click)="setPageMobile(pager.totalPages)">Last</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
