<div class="step">
  <div class="step-title"><h3 class="h3">2. Phone verified!</h3></div>

  <p class="p_small">
    Congratulations! Your phone number was <br>
    verified. Let’s <b>continue</b> with your <b>transaction</b> <br>
    process and <b>verify</b> your <b>identity card</b>.
  </p>

  <form action="#" class="form">

    <div class="form-group">
      <span class="form-title">Upload image of your ID card:</span>
      <label class="upload-file">
        <input type="file" class="form-control" required="">
        <span class="upload-file__name">No file chosen</span>
        <span class="btn btn-accent rippler rippler-default js-file-upload">Choose file</span>
      </label>
      <span class="error-label">Bad file format, supported - jpg and png</span>
    </div>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default">Verify ID</a>
        <input type="submit" hidden>
      </label>
    </div>
  </form>
</div>
