<div id="medium-dialog" class="popup popup-user blank tape-top" *ngIf="userAuthPopup" >
  <div class="popup-title">
    <h2 class="h2 text-center">Login</h2>
  </div>


  <div class="text-center js-deleteParent" *ngIf="userNotFound">
    <div class="alert alert-error">
      <p>{{ 'errors.AuthError' | translate }}</p>
    </div>
  </div>



  <form action="#" class="form" [ngClass]="{'custom-loader disabled': loading}" (submit)="submit($event)" [formGroup]="userAuthForm"  #authForm="ngForm" novalidate>

    <label class="form-group"
           [ngClass]="{'has-error': (userAuthForm.controls['email'].hasError('email')
           || userAuthForm.controls['email'].hasError('maxlength'))
           && authForm.submitted}">
      <span class="form-title">Your e-mail:</span>
      <input [(ngModel)]="userAuth.email" formControlName="email" name="email" type="text" class="form-control">
      <span
        *ngIf="(userAuthForm.controls['email'].hasError('email')
        || userAuthForm.controls['email'].hasError('maxlength'))
        && authForm.submitted" class="error-label">Incorrect email</span>
    </label>

    <label class="form-group" [ngClass]="{'has-error': (userAuthForm.controls['password'].hasError('required')
           || userAuthForm.controls['password'].hasError('maxlength'))
           && authForm.submitted}">
      <span class="form-title">Password:</span>
      <input [(ngModel)]="userAuth.password" formControlName="password" name="password" type="password" class="form-control" required="">
      <span
        *ngIf="(userAuthForm.controls['password'].hasError('required')
        || userAuthForm.controls['password'].hasError('maxlength'))
        && authForm.submitted" class="error-label">Incorrect password</span>
    </label>

    <div class="forgot">
      <div class="text-center tip-link">
        <a href="#" (click)="openForgotPopup($event)" class="link sans-serif tt-uppercase">Forgot password?</a>
      </div>
    </div>


    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="onNoClick($event)">Back</a>
      <label>
        <button class="btn btn-accent rippler rippler-default" [disabled]="userAuthForm.invalid && authForm.submitted">Login</button>
        <!--<a class="btn btn-accent rippler rippler-default">auth</a>-->
        <!--<input type="submit" hidden>-->
      </label>
    </div>


  </form>

</div>


<div id="forgot-dialog" class="popup popup-user blank tape-top fadeIn animated" *ngIf="userForgotPopup">
  <div class="popup-title">
    <h2 class="h2 text-center">Forgot</h2>
  </div>
  <div class="popup-subtitle">
    <p class="p_middle mobile-small">Stav transakce můžete <b>sledovat</b> přes tento <b>odkaz</b>.</p>
  </div>

  <div class="text-center js-deleteParent" *ngIf="forgotSendSuccess">
    <div class="alert alert-success">
      <p>Success! An email with a new password was sent to the specified mailbox.</p>
      <a href="#" class="btn-close js-deleteBlock">x</a>
    </div>
  </div>

  <div class="text-center js-deleteParent" *ngIf="forgotSendError">
    <div class="alert alert-error">
      <p>Error! A server-side error has occurred. Please try again.</p>
    </div>
  </div>



  <form action="#" class="form" [ngClass]="{'custom-loader disabled': loading}" (submit)="forgot($event)" [formGroup]="userForgotForm"  #forgotForm="ngForm" novalidate>

    <label class="form-group"
           [ngClass]="{'has-error': ((userForgotForm.controls['email'].hasError('email')
           || userForgotForm.controls['email'].hasError('maxLength'))
           && forgotForm.submitted) || userForgotForm.controls['email'].hasError('notfounduser') }">
      <span class="form-title">Your e-mail (account login):</span>
      <input [(ngModel)]="userForgot.email" formControlName="email" name="email" type="text" class="form-control">
      <span
        *ngIf="userForgotForm.controls['email'].hasError('required')
        && forgotForm.submitted" class="error-label">Required field</span>

      <span
        *ngIf="userForgotForm.controls['email'].hasError('email') && !userForgotForm.controls['email'].hasError('required') && !userForgotForm.controls['email'].hasError('maxlength')
        && forgotForm.submitted" class="error-label">Incorrect email</span>

      <span
        *ngIf="userForgotForm.controls['email'].hasError('maxlength') && !userForgotForm.controls['email'].hasError('required')
        && forgotForm.submitted" class="error-label">The maximum number of characters 64</span>

      <span *ngIf="(userForgotForm.controls['email'].hasError('notfounduser')
        && forgotForm.submitted)" class="error-label">User not found</span>
    </label>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="closeForgotPopup($event)">Back</a>
      <label>
        <a class="btn btn-accent rippler rippler-default">Send pass</a>
        <input type="submit" hidden>
      </label>
    </div>


  </form>

</div>
