<div id="medium-dialog" class="popup popup-user blank tape-top ">
  <div class="popup-title">
    <h2 class="h2 text-center">Auth</h2>
  </div>
  <div class="popup-subtitle">
    <p class="p_middle mobile-small">Stav transakce můžete <b>sledovat</b> přes tento <b>odkaz</b>.</p>
  </div>

  <form action="#" class="form" (submit)="submit($event)" [formGroup]="userAuthForm"  #authForm="ngForm" novalidate >

    <label class="form-group"
           [ngClass]="{'has-error': (userAuthForm.controls['email'].hasError('email')
           || userAuthForm.controls['email'].hasError('maxLength'))
           && authForm.submitted}">
      <span class="form-title">Your e-mail (account login):</span>
      <input [(ngModel)]="userAuth.email" formControlName="email" name="email" type="text" class="form-control">
      <span
        *ngIf="(userAuthForm.controls['email'].hasError('email')
        || userAuthForm.controls['email'].hasError('maxLength'))
        && authForm.submitted" class="error-label">Hesla se neshodují</span>
    </label>

    <label class="form-group" [ngClass]="{'has-error': (userAuthForm.controls['password'].hasError('required')
           || userAuthForm.controls['password'].hasError('maxLength'))
           && authForm.submitted}">
      <span class="form-title">Password:</span>
      <input [(ngModel)]="userAuth.password" formControlName="password" name="password" type="password" class="form-control" required="">
      <span
        *ngIf="(userAuthForm.controls['password'].hasError('required')
        || userAuthForm.controls['password'].hasError('maxLength'))
        && authForm.submitted" class="error-label">Hesla se neshodují</span>
    </label>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="onNoClick($event)">Back</a>
      <label>
        <a class="btn btn-accent rippler rippler-default">auth</a>
        <input type="submit" hidden>
      </label>
    </div>

    <div class="forgot">
      <div class="text-center tip-link">
        <a href="#" class="link">Forgot password?</a>
      </div>
    </div>
  </form>

</div>
