<div class="main discounts fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title title-single"><h1 class="h1">Fees & Discounts</h1></div>


      <div class="sub-title">
        <p class="p_large pre-line">{{ 'fees-discounts.sub-head' | translate }}</p>
      </div>
    </header>

    <div class="main__wrapper">
      <div class="content">
        <div class="blank tape-top no-padding">
          <div class="blank-content">
            <div class="hard-table square-table hz-scroll">
              <table>
                <thead>
                <tr>
                  <th>
                    <div class="_direction">
                      <div class="_direction-receive">receive</div>
                      <div class="_direction-send">send</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../../../assets/img/adv-cash.png);"></div>
                      <div class="currency-name">Adv Cash</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/bitcoin.png);"></div>
                      <div class="currency-name">Bitcoin</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/dash.png);"></div>
                      <div class="currency-name">Dash</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                      <div class="currency-name">Ether</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/litecoin.png);"></div>
                      <div class="currency-name">Litecoin</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/monelo.png);"></div>
                      <div class="currency-name">Monelo</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/ripple.png);"></div>
                      <div class="currency-name">Ripple</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/payeer.png);"></div>
                      <div class="currency-name">Payeer</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/perfect-money.png);"></div>
                      <div class="currency-name">Perfect M.</div>
                    </div>
                  </th>

                  <th>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/zcash.png);"></div>
                      <div class="currency-name">Zcash</div>
                    </div>
                  </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                      <div class="currency-name">Adv Cash</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/bitcoin.png);"></div>
                      <div class="currency-name">Bitcoin</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/dash.png);"></div>
                      <div class="currency-name">Dash</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                      <div class="currency-name">Ether</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/litecoin.png);"></div>
                      <div class="currency-name">Litecoint</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>


                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/monelo.png);"></div>
                      <div class="currency-name">Monelo</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/ripple.png);"></div>
                      <div class="currency-name">Ripple</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/payeer.png);"></div>
                      <div class="currency-name">Payeer</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/perfect-money.png);"></div>
                      <div class="currency-name">Pfct M.</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>

                <tr>
                  <td>
                    <div class="currency">
                      <div class="currency-icons" style="background-image: url(../assets/img/zcash.png);"></div>
                      <div class="currency-name">Zcash</div>
                    </div>
                  </td>
                  <td>-</td>
                  <td>3%</td>
                  <td>2%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                  <td>3%</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
