<div class="step">
  <div class="step-title"><h3 class="h3">4. {{ 'process4.title' | translate }}</h3></div>

  <div class="reduced-width">
    <div class="switch">
      <div class="currencies currencies_small">
        <div class="item">
          <div class="item-icons" [style.background-image]="'url(' + selectedFrom?.logo +')'"></div>
          <div class="item-value">{{selectedFrom?.name}} <span class="ttu">{{selectedFrom?.currency}}</span></div>
        </div>

        <div class="switch-btn"></div>

        <div class="switch-stats">
          <div class="tape">Fee: {{selectedTo?.commission || '0.00'}} %</div>
          <div class="tape tape-accent">Discount: {{userDiscount || '0.00'}} %</div>
        </div>

        <div class="item">
          <div class="item-icons" [style.background-image]="'url(' + selectedTo?.logo +')'"></div>
          <div class="item-value">{{selectedTo?.name}} <span class="ttu">{{selectedTo?.currency}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange-info">
    <div class="line-sides">{{ 'process4.transfer' | translate }}</div>

    <table class="exchange-info__direction">
      <tr>
        <td>
          <span>{{ 'process4.input-system' | translate }}</span>
          <b>{{selectedFrom?.name}}</b>
        </td>
        <td align="right">
          <span>{{ 'process4.amount' | translate }}</span>
          <b  class="tt-uppercase"><strong>{{inputFrom}}</strong> {{selectedFrom?.currency}}</b>
        </td>
      </tr>

      <tr>
        <td>
          <span>{{ 'process4.output-system' | translate }}</span>
          <b>{{selectedTo?.name}}</b>
        </td>
        <td align="right">
          <span>{{ 'process4.amount' | translate }}</span>
          <b class="tt-uppercase"><strong>{{inputTo}}</strong> {{selectedTo?.currency}}</b>
        </td>
      </tr>
    </table>

    <div class="line-sides">{{ 'process4.personal-information' | translate }}</div>

    <div class="exchange-info__descr">
      <div class="item">
        <span>Your wallet ID:</span>
        <b>{{dataWallet.id}}</b>
      </div>

      <!--<div class="item">-->
        <!--<span>{{ 'process4.first-name' | translate }}</span>-->
        <!--<b>John Doe</b>-->
      <!--</div>-->

      <div class="item">
        <span>Contact e-mail:</span>
        <b>{{dataWallet.email}}</b>
      </div>
    </div>

  </div>

  <div class="between-children">
    <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>
    <a href="#" class="btn btn-accent rippler rippler-default" (click)="goToPay($event)">Pay</a>
  </div>

  <div class="text-center tip-link">
    <a href="#" class="link tt-uppercase" (click)="goToStart($event)">Cancel</a>
  </div>
</div>
