<div class="step">
  <div class="step-title"><h3 class="h3">4. {{ 'process4.title' | translate }}</h3></div>

  <div class="reduced-width">
    <div class="switch">
      <div class="currencies currencies_small">
        <div class="item">
          <div class="item-icons" style="background-image: url(../../assets/img/adv-cash.png);"></div>
          <div class="item-value" value="Advanced Cash">Advanced Cash</div>
        </div>

        <div class="switch-btn"></div>

        <div class="switch-stats">
          <div class="tape">Fee: 1.00 %</div>
          <div class="tape tape-accent">Discount: 0.00 %</div>
        </div>

        <div class="item">
          <div class="item-icons" style="background-image: url(../../assets/img/bitcoin.png);"></div>
          <div class="item-value" value="Bitcoin">Bitcoin</div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange-info">
    <div class="line-sides">{{ 'process4.transfer' | translate }}</div>

    <table class="exchange-info__direction">
      <tr>
        <td>
          <span>{{ 'process4.input-system' | translate }}</span>
          <b>Adv Cash</b>
        </td>
        <td align="right">
          <span>{{ 'process4.amount' | translate }}</span>
          <b><strong>26,960</strong> USD</b>
        </td>
      </tr>

      <tr>
        <td>
          <span>{{ 'process4.output-system' | translate }}</span>
          <b>Bitcoin</b>
        </td>
        <td align="right">
          <span>{{ 'process4.amount' | translate }}</span>
          <b><strong>0.08040</strong>BTC</b>
        </td>
      </tr>
    </table>

    <div class="line-sides">{{ 'process4.personal-information' | translate }}</div>

    <div class="exchange-info__descr">
      <div class="item">
        <span>Your wallet ID:</span>
        <b>1BvBMSEYstWetqTFn5Au4</b>
      </div>

      <div class="item">
        <span>{{ 'process4.first-name' | translate }}</span>
        <b>John Doe</b>
      </div>

      <div class="item">
        <span>Contact e-mail:</span>
        <b>john.doe@gmail.com</b>
      </div>
    </div>

  </div>

  <div class="between-children">
    <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>
    <a href="#" class="btn btn-accent rippler rippler-default">Pay</a>
  </div>

  <div class="text-center tip-link">
    <a href="#" class="link tt-uppercase">Cancel</a>
  </div>
</div>
