<div class="step" [ngClass]="{'custom-loader disabled': loading}">
  <div class="step-title"><h3 class="h3">5. {{ 'process5.title-crypto' | translate }}</h3></div>

  <p class="p_small pre-line" [innerHTML]="'process5.sub-title' | translate">
  </p>

  <div class="exchange-info">
    <div class="line-sides">{{ 'process5.amount-transfer' | translate }}</div>

    <div class="select-amount">
      <label class="input-exchange">
        <div class="input">
          <input type="text" [attr.value]="inputFrom" readonly>
          <span class="currency">BTC</span>
        </div>
      </label>
    </div>

    <div class="line-sides">{{ 'process5.payment-information' | translate }}</div>
  </div>



  <div class="exchange-info__descr text-center">
    <div class="item">
      <span>{{ 'process5.bitcoin-qr' | translate }}</span>
      <b>{{ 'process5.scan-pay' | translate }}</b>
    </div>

    <div class="item">
      <div class="qr-code">
        <!--<img src="../../assets/img/qr-code.png" alt="">-->
        <img src="http://qrcode.tec-it.com/API/QRCode?data='{{dataCoinInput.params[3].value}}'&backcolor=%23ffffff" />
      </div>
    </div>

    <div class="item">
      <span>{{ 'process5.wallet-address' | translate }}</span>
      <span><b>{{dataCoinInput.params[3].value}}</b></span>
    </div>

    <!--<div class="item">-->
      <!--<span>{{ 'process5.time-to-pay-left' | translate }}</span>-->
      <!--<b>7 minut a 69 vteřin</b>-->
    <!--</div>-->
  </div>


  <hr>
  <p class="p_small pre-line" [innerHTML]="'process5.info-instruction' | translate">

  </p>

  <a href="#" class="btn btn-accent rippler rippler-default full-width" (click)="goFinish($event)">Money sent</a>
</div>
