
  <div class="main inner  prepaid_card-page fadeIn animated">
    <div class="container">

      <header class="content__header">
        <div class="title"><h1 class="h1">Prepaid Card</h1></div>

        <div class="sub-title">
          <p class="p_large pre-line">{{ 'prepaid-card.sub-head' | translate }}</p>
        </div>

      </header>

      <div class="main__wrapper ">
        <div class="navbars"  style="display: none">
          <nav class="navbars-nav">
            <div class="item">
              <div class="item__title ">General</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#account">What is account</a></li>
                  <li><a href="#check_order">How can I check order</a></li>
                  <li><a href="#cancel_order">Can I cancel order</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title">Verification</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#registration">Is registration obligatory</a></li>
                  <li><a href="#verification">What is verification</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title">How the system works</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#receive">How long it take to receive</a></li>
                  <li><a href="#payment">I did not recieve the payment</a></li>
                </ol>
              </div>
            </div>
          </nav>
        </div>


        <div class="content ">

          <div class="cards">

            <div class="blank-self tape-top">

              <div class="blank-self__head">
                <div class="head__icon">
                  <div class="ic-card"></div>
                </div>
                <h2 class="h2 pre-line"> {{ 'prepaid-card.title' | translate }}</h2>
              </div>

              <a href="#" class="btn btn-accentSecond rippler rippler-default ">Order a card</a>

              <div class="blank-self__content">

                <div class="content">

                  <div class="prepaid_card">
                    <img src="../../assets/img/Card.png" alt="">
                    <div class="ovals">
                      <div class="oval"><div class="oval"><div class="oval"><div class="oval no-opacity"></div></div></div></div>
                    </div>

                    <div class="mini-cards">
                      <div class="item blank-self" data-count="1">
                        <div class="item__head title-inner">One card for all exchange platforms</div>
                        <div class="item__content pre-line p_small">
                          Prepaid credit cards will be one of the payment systems in a number of Unicash exchange platforms.

                          That means over 20 exchange platforms accepting prepaid credit card.
                        </div>
                      </div>

                      <div class="item blank-self" data-count="2">
                        <div class="item__head title-inner">Unifying card</div>
                        <div class="item__content pre-line p_small">
                          What options do regular prepaid cards offer to exchange cryptocurrency for FIAT?

                          Mostly, it's just few currencies. Be ahead of everyone else and get the prepaid card that supports dozens of currencies thanks to partner network.
                        </div>
                      </div>

                      <div class="item blank-self" data-count="3">
                        <div class="item__head title-inner">Fast</div>
                        <div class="item__content pre-line p_small">
                          Each card has its unique number, which makes it easy to recognize it.

                          That's why cryptocurrency exchange usually takes only few minutes to complete within the exchange platforms.
                        </div>
                      </div>

                      <div class="item blank-self" data-count="4">
                        <div class="item__head title-inner">Convenience</div>
                        <div class="item__content pre-line p_small">
                          The key feature of the currencies is their utility for ordinary payments – this stands for user comfort.

                          With a prepaid card, you do not have to worry whether your favorite shop accepts payments with cryptocurrency.
                        </div>
                      </div>
                    </div>
                  </div>





                </div>
              </div>


            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
