<div class="main main-single fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title title-single"><h1 class="h1">Invite Friends</h1></div>
    </header>

    <div class="main__wrapper">
      <div class="content ">

        <div class="blank-self tape-top">

          <div class="blank-self__content">

            <div class="invite">
              <div class="col">
                <h2 class="title-inner">Jak to funguje?</h2>

                <p class="pre-line p_small">Použijte vygenerovaný odkaz a <b>pošlete jej přátelům</b> jako pozvánku do naší směnárny.

                  Náš systém rozpozná,  že váš partner
                  přišel na stránku skrze váš odkaz a automaticky vám <b>přičte provizi</b>, kterou můžete vybrat na jakoukoliv peněženku.

                  Máte další otázky? Podívejte se do sekce <a href="#" class="link">FAQ</a>
                  nebo kontaktujte <a href="#" class="link">technickou podporu</a>.
                </p>

                <h2 class="title-inner">Odkaz k doporučení</h2>
                <div class="copy">
                  <input type="text" class="copy-input" value="https://www.smartex.io/join/5a306f53257b4f0" readonly="">
                  <a href="#" class="btn btn-accentSecond copy-btn rippler rippler-default js-copyBtn">Copy</a>
                </div>
              </div>

              <div class="col">
                <h2 class="title-inner">Kumulovaný limit k výběru:</h2>

                <div class="commission">
                  <strong class="title-great">15 USD</strong>
                  <a href="#" class="btn btn-accent rippler rippler-default">Vybrat provizi</a>
                </div>

                <hr>

                <h2 class="title-inner">Seznam zaregistrovaných partnerů:</h2>

                <div class="hz-scroll">
                  <table class="default-table ">
                    <thead>
                    <tr>
                      <th>Jméno a příjmení</th>
                      <th>Datum registrace</th>
                      <th>Status</th>
                      <th>Příjem</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                      <td>Aneta Stará</td>
                      <td>14. 07. 2018</td>
                      <td>Nesměnil</td>
                      <td>8 USD</td>
                    </tr>

                    <tr>
                      <td>Petr Kalivoda</td>
                      <td>14. 07. 2018</td>
                      <td>Směnil</td>
                      <td>8 USD</td>
                    </tr>

                    <tr>
                      <td>Karel Nový</td>
                      <td>14. 07. 2018</td>
                      <td>Směnil</td>
                      <td>8 USD</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
