<div class="main main-single fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title title-single"><h1 class="h1">Invite Friends</h1></div>
    </header>

    <div class="main__wrapper">
      <div class="content ">

        <div class="blank-self tape-top">

          <div class="blank-self__content">
            <div class="invite">
              <div class="col">
                <h2 class="title-inner">{{ 'invite-friends.how-work' | translate }}</h2>

                <p class="pre-line p_small">
                  <span *dynamicComponent="'invite-friends.send-generated-link' | translate"></span>
                </p>

                <h2 class="title-inner">{{ 'invite-friends.refferal-link' | translate }}</h2>
                <div class="copy">
                  <input type="text" class="copy-input" value="https://www.smartex.io/join/5a306f53257b4f0" readonly="">
                  <a href="#" class="btn btn-accentSecond copy-btn rippler rippler-default js-copyBtn">Copy</a>
                </div>
              </div>

              <div class="col" [ngClass]="{'custom-loader disabled': loadingRefList}">
                <h2 class="title-inner">{{ 'invite-friends.total' | translate }}</h2>

                <div class="commission">
                  <strong class="title-great">15 USD</strong>
                  <a href="#" class="btn btn-accent rippler rippler-default">{{ 'invite-friends.select-commission' | translate }}</a>
                </div>

                <hr>

                <h2 class="title-inner">{{ 'invite-friends.list-of-all' | translate }}</h2>

                <div class="hz-scroll">
                  <table class="default-table">
                    <thead>
                    <tr>
                      <th>{{ 'invite-friends.first-name' | translate }}</th>
                      <th>{{ 'invite-friends.registration-date' | translate }}</th>
                      <th>{{ 'invite-friends.status' | translate }}</th>
                      <th>{{ 'invite-friends.amount' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                      <tr *ngIf="refArray.length === 0"><td colspan="5" class="text-center"><br>You have not invited any referrals</td></tr>

                      <tr *ngFor="let listItem of refArray; let i = index">
                        <td>{{listItem.name}}</td>
                        <td>{{listItem.date.date | date: 'dd.MM.yyyy'}}</td>
                        <td *ngIf="!listItem.activation">inactive</td>
                        <td *ngIf="listItem.activation">active</td>
                        <td>{{listItem.total_exchange || 0}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
