

  <div class="main inner fadeIn animated"
       (window:orientationchange)="initSetPage()"
       (window:resize)="initSetPage()" >
    <div class="container">

      <header class="content__header">
        <div class="title"><h1 class="h1">News</h1></div>

        <div class="sub-title">
          <p class="p_large pre-line" [innerHTML]="'News.subtitle' | translate"></p>
        </div>

      </header>

      <div class="main__wrapper">
        <div class="content ">

          <div class="cards" [ngClass]="{'custom-loader disabled': loadingNews}">

            <div class="blank-self tape-top">

              <div class="blank-self__head">
                <h2 class="title-great">Latest News</h2>
              </div>

              <div class="blank-self__content">

                <div class="content">
                  <div class="items ">

                    <div class="item" *ngIf="newsArray.length > 0">
                      <div class="item__head title-inner opened" [attr.dataDate]="newsArray[0].date | date: 'dd/MM/yyyy'" >{{newsArray[0].title}}</div>
                      <div class="item__content"><p class="pre-line">{{newsArray[0].text}}</p></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="blank-self">

              <div class="blank-self__head">
                <h2 class="title-great">Other</h2>
              </div>

              <div class="blank-self__content">

                <div class="content">
                  <div class="items ">

                    <div *ngFor="let newsItem of pagedItems; let i = index">
                    <div class="item animated fadeIn" *ngIf="i > 0">
                      <div class="item__head title-inner opened" [attr.dataDate]="newsItem.date | date: 'dd/MM/yyyy'" >{{newsItem.title}}</div>
                      <div class="item__content"><p class="pre-line" [innerHTML]="newsItem.text"></p></div>
                    </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="paginator__wr" *ngIf="pager.pages && pager.pages.length">
              <div class="paginator" >
                <div class="paginator__status"><span class=""><b>{{pager.currentPage}}</b> {{ 'exchange.PaginationOf' | translate }} <b>{{pager.totalPages}}</b>  </span></div>
                <div class="paginator__btns">

                  <ul class="pages pages_desktop">
                    <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                    </li>
                    <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)" >Previous</a>
                    </li>

                    <li class="page rippler rippler-default" *ngFor="let page of pager.pages" [ngClass]="{'is-selected':pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>


                    <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === pager.totalPages}"><a (click)="setPage(pager.currentPage + 1)">Next</a></li>
                    <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === pager.totalPages}"><a (click)="setPage(pager.totalPages)">Last</a></li>

                  </ul>


                  <ul class="pages pages_mobile">
                    <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === 1}">
                      <a (click)="setPageMobile(1)">First</a>
                    </li>

                    <li class="page rippler rippler-default" *ngFor="let page of pager.pages" [ngClass]="{'is-selected':pager.currentPage === page}">
                      <a (click)="setPageMobile(page)">{{page}}</a>
                    </li>

                    <li class="page rippler rippler-default" [ngClass]="{'is-disabled':pager.currentPage === pager.totalPages}"><a (click)="setPageMobile(pager.totalPages)">Last</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
