<div id="medium-dialog" class="popup popup-success blank tape-top ">
  <div class="popup-title">
    <h2 class="h2 text-center">Gratulujeme! Odesláno.</h2>
  </div>
  <div class="popup-subtitle">
    <p class="p_middle mobile-small">Stav transakce můžete <b>sledovat</b> přes tento <b>odkaz</b>.</p>
  </div>

  <br>
  <p class="p_middle mobile-small text-center">
    <a href="#" class="link">https://www.smartex.info/4566dasf45f8w9af46</a>
    <br><br>
    Nebo
    <br><br>
    V <a href="#" class="link">historii transakcí</a> na svém účtu.
  </p>

  <div class="btn-wrapper text-center">
    <div class="item"><a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Přihlásit</a></div>
    <div class="item"><a href="#" class="btn btn-accent rippler rippler-default">Nová směna</a></div>
  </div>
</div>
