<div id="medium-dialog" class="popup popup-user blank tape-top ">
  <div class="popup-title">
    <h2 class="h2 text-center">Registration.</h2>
  </div>
  <div class="popup-subtitle">
    <p class="p_middle mobile-small">Stav transakce můžete <b>sledovat</b> přes tento <b>odkaz</b>.</p>
  </div>

  <form action="#" class="form" [ngClass]="{'custom-loader disabled': loading}"  [formGroup]="userRegistrForm" (submit)="submit($event)"  #regForm="ngForm" novalidate>

    <label class="form-group" [ngClass]="{'has-error': userRegistrForm.controls['name'].hasError('required') && regForm.submitted}" >
      <span class="form-title">Your name:</span>
      <input [(ngModel)]="userRegistr.name" formControlName="name"  name="name" type="text" class="form-control">
      <span *ngIf="userRegistrForm.controls['name'].hasError('required') && regForm.submitted" class="error-label">Required field</span>
      <span *ngIf="userRegistrForm.controls['name'].hasError('minlength') && regForm.submitted" class="error-label">Name should contain 6 characters</span>
    </label>

     <label class="form-group"
            [ngClass]="{'has-error': ((userRegistrForm.controls['email'].hasError('required')
            || userRegistrForm.controls['email'].hasError('email')
            || userRegistrForm.controls['email'].hasError('minLength')
            || userRegistrForm.controls['email'].hasError('maxLength'))
            && regForm.submitted) || userRegistrForm.controls['email'].hasError('notunique') }">
      <span class="form-title">Your e-mail (account login):</span>
      <input [(ngModel)]="userRegistr.email" formControlName="email"  name="email"  type="text" class="form-control">
       <span *ngIf="(userRegistrForm.controls['email'].hasError('required') || userRegistrForm.controls['email'].hasError('email')) && regForm.submitted" class="error-label">Required field</span>
       <span *ngIf="userRegistrForm.controls['email'].hasError('notunique')" class="error-label">User with this email already exists!</span>
    </label>
    <!--(blur)="checkEmailExist()"-->

    <label class="form-group"
           [ngClass]="{'has-error': (userRegistrForm.controls['password'].hasError('required')
           || userRegistrForm.controls['password'].hasError('minlength')
           || userRegistrForm.controls['password'].hasError('maxLength'))
           && regForm.submitted}">
      <span class="form-title">Password:</span>
      <input [(ngModel)]="userRegistr.password" formControlName="password"  name="password" type="password" class="form-control" required="">
      <span *ngIf="userRegistrForm.controls['password'].hasError('required') && regForm.submitted" class="error-label">Required field</span>
      <span *ngIf="(userRegistrForm.controls['password'].hasError('minlength') || userRegistrForm.controls['password'].hasError('maxlength')) && regForm.submitted" class="error-label">The password must be between 6 and 64 characters</span>
    </label>


    <label class="form-group" [ngClass]="{'has-error': userRegistrForm.controls['confirmPassword'].hasError('matchOther') && regForm.submitted}">
      <span class="form-title">Password again:</span>
      <input [(ngModel)]="userRegistr.repassword" formControlName="confirmPassword" name="repassword"  type="password" class="form-control" required="">
      <span *ngIf="userRegistrForm.controls['confirmPassword'].hasError('matchOther') && regForm.submitted" class="error-label">Required field</span>
    </label>

    <label class="checkbox" [ngClass]="{'has-error': (userRegistrForm.controls['checkbox'].hasError('required')
           && regForm.submitted )}">
      <input [(ngModel)]="userRegistr.checkbox" formControlName="checkbox" type="checkbox" name="policeAgree" class="checkbox-control" required>
      <span class="checkbox-icons"></span>
      <span class="checkbox-title">I agree to the <a href="#" class="link">Terms and Conditions</a> and <a href="#" class="link">Privacy Policy</a></span>
    </label>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="onNoClick($event)">Back</a>

      <label>
        <button class="btn btn-accent rippler rippler-default" [disabled]="userRegistrForm.invalid && regForm.submitted">Register</button>
      </label>
    </div>
  </form>

</div>
