<div class="step">
  <div class="step-title"><h3 class="h3">2. E-mail verified!</h3></div>

  <p class="p_small">
    Congratulations! Your e-mail address wasbr	<br>
    verified. Let’s <b>continue</b> with your <b>transaction</b> <br>
    process and <b>verify</b> your <b>phone number</b>.
  </p>

  <form action="#" class="form">

    <div class="form-group">
      <span class="form-title">Your phone number:</span>
      <label class="phone-send">
        <input type="text" class="form-control" value="+380993056563" required="">
        <a href="#" class="btn btn-accent rippler rippler-default js-phone-send">Send code</a>
      </label>
      <span class="error-label">Not valid phone number format</span>
    </div>

    <div class="text-center tip-link">
      <a href="#" class="link tt-uppercase">Send Again</a>
    </div>

    <hr class="full-width">

    <label class="form-group">
      <span class="form-title">Activation code:</span>
      <input type="text" class="form-control" required="" value="l7d8w9">
      <span class="error-label">Hesla se neshodují</span>
    </label>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default is-disabled">Verify e-mail</a>
        <input type="submit" hidden>
      </label>
    </div>

  </form>
</div>
