    <div class="footer fadeIn animated">
      <div class="container">
        <div class="footer__logo"><a routerLink="#" class="logo"><img src="../assets/img/logo.png" alt=""></a></div>
        <div class="footer__content">
          <div class="item">
            <ul class="nav-menu">
              <li><a routerLink="/home" routerLinkActive="active">{{ 'header.home' | translate }}</a></li>
              <li><a routerLink="/testimonials" routerLinkActive="active">{{ 'header.testimonials' | translate }}</a></li>
              <li><a routerLink="/contacts" routerLinkActive="active">{{ 'header.contacts' | translate }}</a></li>
              <li class="dropdown dropdown-up">
                <a href="#" class="dropdown-link js-dropdown-link">{{ 'header.dropdown-link' | translate }}</a>
                <ul class="dropdown-data">
                  <li><a href="#">{{ 'header.dropdown-data1' | translate }}</a></li>
                  <li><a href="#">{{ 'header.dropdown-data2' | translate }}</a></li>
                  <li><a href="#">{{ 'header.dropdown-data3' | translate }}</a></li>
                  <li><a routerLink="/feesdiscount">{{ 'feesdiscount' | translate }}</a></li>
                  <li><a routerLink="/faq">{{ 'header.faq' | translate }}</a></li>
                  <li><a routerLink="/news">{{ 'header.news' | translate }}</a></li>
                  <li></li>
                  <li><a routerLink="/landingmagazine">{{ 'header.landingmagazine' | translate }}</a></li>
                  <li><a routerLink="/tablehistory">{{ 'header.tablehistory' | translate }}</a></li>
                  <li><a routerLink="/tablehistoryreviews">{{ 'header.tablehistoryreviews' | translate }}</a></li>
                  <li><a routerLink="/transactions">{{ 'header.transactions' | translate }}</a></li>
                  <li><a routerLink="/partners">{{ 'header.partners' | translate }}</a></li>
                  <li><a routerLink="/user/settings">{{ 'header.user-settings' | translate }}</a></li>
                  <li><a routerLink="/prepaid-card">{{ 'header.prepaid-card' | translate }}</a></li>
                  <li><a routerLink="/discount">{{ 'header.discount' | translate }}</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="item">
            <ul>
              <li><a routerLink="#">Terms and conditions</a></li>
              <li><a routerLink="#">AML policy</a></li>
              <li><a routerLink="#">Privacy policy</a></li>
              <li><a routerLink="#">Fees & discounts</a></li>
            </ul>
          </div>

          <div class="item">
            <div class="share">
              <div class="share__title">
                <span class="title">You can find us:</span>
              </div>
              <div class="share__content">
                <a routerLink="#" class="ic ic-fb cbutton cbutton--effect-radomir"></a>
                <a routerLink="#" class="ic ic-gplus cbutton cbutton--effect-radomir"></a>
                <a routerLink="#" class="ic ic-vk cbutton cbutton--effect-radomir"></a>
                <div class="develop">
                  <a routerLink="#" class="ic ic-unicash cbutton cbutton--effect-radomir"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
