    <div class="footer fadeIn animated">
      <div class="container">
        <div class="footer__logo"><a routerLink="#" class="logo"><img src="../assets/img/logo.png" alt=""></a></div>
        <div class="footer__content">
          <div class="item">
            <ul class="nav-menu">
              <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
              <li><a routerLink="/contacts" routerLinkActive="active">Contact</a></li>
              <li class="dropdown dropdown-up">
                <a href="#" class="dropdown-link js-dropdown-link">More</a>
                <ul class="dropdown-data">
                  <li><a routerLink="#">Terms and conditions</a></li>
                  <li><a routerLink="#">AML privacy</a></li>
                  <li><a routerLink="#">Privacy policy</a></li>
                  <li><a routerLink="/feesdiscount">Fees & discounts</a></li>
                  <li><a routerLink="/faq">FAQ</a></li>
                  <li><a routerLink="/news">NEWS</a></li>
                  <li></li>
                  <li><a routerLink="/landingmagazine">Landing Magazine</a></li>
                  <li><a routerLink="/tablehistory">TableHistory</a></li>
                  <li><a routerLink="/tablehistoryreviews">TableHistoryReviews</a></li>
                  <li><a routerLink="/transactions">Transactions</a></li>
                  <li><a routerLink="/partners">Partners</a></li>
                  <li><a routerLink="/user/settings">Settings</a></li>
                  <li><a routerLink="/prepaid-card">Prepaid-card</a></li>
                  <li><a routerLink="/discount">Discount</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="item">
            <ul>
              <li><a routerLink="#">Terms and conditions</a></li>
              <li><a routerLink="#">AML policy</a></li>
              <li><a routerLink="#">Privacy policy</a></li>
              <li><a routerLink="#">Fees & discounts</a></li>
            </ul>
          </div>

          <div class="item">
            <div class="share">
              <div class="share__title">
                <span class="title">You can find us:</span>
              </div>
              <div class="share__content">
                <a routerLink="#" class="ic ic-fb cbutton cbutton--effect-radomir"></a>
                <a routerLink="#" class="ic ic-gplus cbutton cbutton--effect-radomir"></a>
                <a routerLink="#" class="ic ic-vk cbutton cbutton--effect-radomir"></a>
                <div class="develop">
                  <a routerLink="#" class="ic ic-unicash cbutton cbutton--effect-radomir"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
