<div class="main inner ">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Discount Program</h1></div>

      <div class="sub-title">
        <p class="p_large pre-line">Zaregistrujte se a získejte dynamickou slevu.
          Čím více budete směňovat, tím větší sleva bude.</p>
      </div>

    </header>

    <div class="main__wrapper ">
      <div class="navbars"  style="display: none">
        <nav class="navbars-nav">
          <div class="item">
            <div class="item__title ">General</div>
            <div class="item__nav">
              <ol>
                <li><a href="#account">What is account</a></li>
                <li><a href="#check_order">How can I check order</a></li>
                <li><a href="#cancel_order">Can I cancel order</a></li>
              </ol>
            </div>
          </div>

          <div class="item">
            <div class="item__title">Verification</div>
            <div class="item__nav">
              <ol>
                <li><a href="#registration">Is registration obligatory</a></li>
                <li><a href="#verification">What is verification</a></li>
              </ol>
            </div>
          </div>

          <div class="item">
            <div class="item__title">How the system works</div>
            <div class="item__nav">
              <ol>
                <li><a href="#receive">How long it take to receive</a></li>
                <li><a href="#payment">I did not recieve the payment</a></li>
              </ol>
            </div>
          </div>
        </nav>
      </div>


      <div class="content discount">

        <div class="cards">

          <div class="blank-self tape-top">

            <div class="blank-self__head">
              <div class="head__icon">
                <div class="ic-percent"></div>
              </div>
              <h2 class="h2">Máme 5 slevových úrovní</h2>
            </div>

            <div class="blank-self__content">

              <div class="content">


                <div class="level">
                  <div class="level__img">
                    <img src="img/discount_level.png" alt="">
                  </div>
                  <div class="level__info">
                    <div class="info__title title-inner">Kumulovaná časta:</div>
                    <div class="info__value">
                      <span class="title-great">8 USD</span>
                      <span class="h2 h2_mobile">Do nabytí slevy <b class="h2">3%</b> stačí směnit <b class="h2">2 USD</b></span>

                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>


        </div>

      </div>

    </div>
  </div>
</div>
