<div class="main inner fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Discount Program</h1></div>

      <div class="sub-title">
        <p class="p_large pre-line">{{ 'discount-program.sub-head' | translate }}</p>
      </div>

    </header>

    <div class="main__wrapper ">
      <div class="navbars"  style="display: none">
        <nav class="navbars-nav">
          <div class="item">
            <div class="item__title ">General</div>
            <div class="item__nav">
              <ol>
                <li><a href="#account">What is account</a></li>
                <li><a href="#check_order">How can I check order</a></li>
                <li><a href="#cancel_order">Can I cancel order</a></li>
              </ol>
            </div>
          </div>

          <div class="item">
            <div class="item__title">Verification</div>
            <div class="item__nav">
              <ol>
                <li><a href="#registration">Is registration obligatory</a></li>
                <li><a href="#verification">What is verification</a></li>
              </ol>
            </div>
          </div>

          <div class="item">
            <div class="item__title">How the system works</div>
            <div class="item__nav">
              <ol>
                <li><a href="#receive">How long it take to receive</a></li>
                <li><a href="#payment">I did not recieve the payment</a></li>
              </ol>
            </div>
          </div>
        </nav>
      </div>


      <div class="content discount">

        <div class="cards">

          <div class="blank-self tape-top">

            <div class="blank-self__head">
              <div class="head__icon">
                <div class="ic-percent"></div>
              </div>
              <h2 class="h2">{{ 'discount-program.title' | translate }}</h2>
            </div>

            <div class="blank-self__content">

              <div class="content">


                <div class="level">

                  <div class="discount-program">
                    <div class="stairs">
                      <div class="item level-1">
                        <div class="item-name">Limit 0 USD</div>
                        <div class="item-title">
                          <strong>0%</strong>
                          <span>discount</span>
                        </div>
                        <div class="item-level">
                          <div class="item-level__icons">
                            <img src="../assets/img/you-icon.png" alt="">
                          </div>
                          <div class="item-level__graph"></div>
                          <div class="item-level__name">Level 0</div>
                        </div>
                      </div>

                      <div class="item level-2">
                        <div class="item-name">Limit 10 USD</div>
                        <div class="item-title">
                          <strong>3%</strong>
                          <span>discount</span>
                        </div>
                        <div class="item-level">
                          <div class="item-level__graph"></div>
                          <div class="item-level__name">Level 1</div>
                        </div>
                      </div>

                      <div class="item level-3">
                        <div class="item-name desktop-only">Limit 1 000 USD</div>
                        <div class="item-name mobile-only">Limit 1k USD</div>
                        <div class="item-title">
                          <strong>5%</strong>
                          <span>discount</span>
                        </div>
                        <div class="item-level">
                          <div class="item-level__graph"></div>
                          <div class="item-level__name">Level 2</div>
                        </div>
                      </div>

                      <div class="item level-4">
                        <div class="item-name desktop-only">Limit 10 000 USD</div>
                        <div class="item-name mobile-only">Limit 10k USD</div>
                        <div class="item-title">
                          <strong>7%</strong>
                          <span>discount</span>
                        </div>
                        <div class="item-level">
                          <div class="item-level__graph"></div>
                          <div class="item-level__name">Level 3</div>
                        </div>
                      </div>

                      <div class="item level-5">
                        <div class="item-name">Limit 10M USD</div>
                        <div class="item-title">
                          <strong>15%</strong>
                          <span>discount</span>
                        </div>
                        <div class="item-level">
                          <div class="item-level__graph"></div>
                          <div class="item-level__name">Level 4</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="level__info">
                    <div class="info__title title-inner"> {{ 'discount-program.total' | translate }}</div>
                    <div class="info__value">
                      <span class="title-great">8 USD</span>
                      <span class="h2 h2_mobile" [innerHTML]="'discount-program.info' | translate">
                        <!--Do nabytí slevy <b class="h2">3%</b> stačí směnit <b class="h2">2 USD</b>-->
                      </span>

                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>


        </div>

      </div>

    </div>
  </div>
</div>
