<div class="step">
  <div class="step-title"><h3 class="h3">3. {{ 'exchange.ProcessRegAndExchange.title' | translate }}</h3></div>

  <p class="p_small" [innerHTML]="'exchange.ProcessRegAndExchange.descr' | translate"></p>

  <div class="text-center tip-link">
    <a href="#" class="link tt-uppercase">Fill from last</a>
  </div>


  <a href="#" class="btn btn-accentSecond rippler rippler-default full-width">I have an account</a>
  <div class="or line-sides">or</div>
  <a href="#" class="btn btn-accentSecond rippler rippler-default full-width">Create free account</a>

  <div class="text-center tip-link">
    <a href="#" class="link tt-uppercase">continue without account</a>
  </div>

  <div class="between-children">
    <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>
    <a href="#" class="btn btn-accent rippler rippler-default">Exchange</a>
  </div>
</div>
