<div class="step">
  <div class="step-title"><h3 class="h3">3. Personal info and wallet</h3></div>

  <div class="text-center tip-link">
    <a href="#" class="link tt-uppercase">Fill from last</a>
  </div>

  <form action="#" class="form">

    <label class="form-group">
      <span class="form-title">{{ 'exchange.PersonalInfo.Name' | translate }}:</span>
      <input type="text" class="form-control" value="john.doe@gmail.com">
    </label>

    <div class="double">
      <label class="form-group">
        <span class="form-title">{{ 'exchange.PersonalInfo.BankAccount' | translate }}:</span>
        <input type="text" class="form-control" value=" 1112003761">
      </label>

      <label class="form-group has-error">
        <span class="form-title">{{ 'exchange.PersonalInfo.BankCode' | translate }}:</span>
        <input type="text" class="form-control" value="0600">
        <span class="error-label">Invalid format</span>
      </label>
    </div>

    <label class="form-group">
      <span class="form-title">Contact e-mail:</span>
      <input type="email" class="form-control" value="john.doe@gmail.com">
    </label>

    <label class="checkbox">
      <input type="checkbox" class="checkbox-cotrol">
      <span class="checkbox-icons"></span>
      <span class="checkbox-title">I agree to the <a href="#" class="link">Terms and Conditions</a> and <a href="#" class="link">Privacy Policy</a></span>
    </label>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default">Exhange</a>
        <input type="submit" hidden>
      </label>
    </div>
  </form>
</div>
