<div class="main transcations inner-large fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title title-single"><h1 class="h1">Transaction Detail</h1></div>
    </header>

    <div class="main__wrapper">
      <div class="content">

        <div class="blank tape-top">
          <div class="blank-content">
            <div class="transcations-status" *ngIf="transaction.status === 1">Waiting your payment</div>
            <div class="transcations-status" *ngIf="transaction.status === 2">Pay</div>
            <div class="transcations-status" *ngIf="transaction.status === 3">Successfully processed</div>

            <div class="transcations-process">
              <div class="step">
                <div class="step-header">
                  <h2 class="h2">You send</h2>
                </div>
                <div class="step-content">
                  <label class="input-exchange">
                    <div class="input">
                      <input type="text" [attr.value]="transaction.in_amount">
                      <span class="currency">{{transaction.in_payment}}</span>
                    </div>
                  </label>
                </div>
              </div>

              <div class="step-info">
                <div class="line-sides">{{ 'exchange.TransactionID' | translate }}</div>

                <div class="step-info__title">{{transaction.id}}</div>

                <div class="step-info__direction">
                  <img src="../assets/img/svg/arrow-big.svg" alt="">
                </div>
              </div>

              <div class="step step-to">
                <div class="step-header">
                  <h2 class="h2">You receive</h2>
                </div>
                <div class="step-content">
                  <label class="input-exchange">
                    <div class="input">
                      <input type="text" [attr.value]="transaction.out_amount">
                      <span class="currency">{{transaction.out_payment}}</span>
                    </div>
                  </label>
                </div>
              </div>


              <div class="switch">
                <div class="currencies currencies_small">
                  <div class="item">
                    <div class="item-icons" [style.background-image]="'url(' + transaction.inPayment?.data.paymentSystem.data.logo_link +')'"></div>
                    <div class="item-value">{{transaction.inPayment?.data.paymentSystem.data.name}}</div>
                  </div>

                  <div class="switch-stats">
                    <div class="tape">Fee: {{transaction.in_fee}} %</div>
                    <div class="tape tape-accent">Discount: {{userModel.discount || 0}} %</div>
                  </div>

                  <div class="item">
                    <div class="item-icons" [style.background-image]="'url(' + transaction.outPayment?.data.paymentSystem.data.logo_link +')'"></div>
                    <div class="item-value">{{transaction.outPayment?.data.paymentSystem.data.name}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="transcations-info">
              <div class="line-sides">{{ 'exchange.PaymentInfo' | translate }}</div>

              <div class="exchange">
                <table class="exchange-info__direction">
                  <tbody>
                  <tr>
                    <td>
                      <span>Your wallet ID:</span>
                      <b><strong>{{transaction.out_payee}}</strong></b>
                    </td>
                    <td>
                      <span>Your e-mail:</span>
                      <b><strong>{{lastEmail.controlsEmail}}</strong></b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="line-sides">{{ 'exchange.CurrentStatus' | translate }}</div>

              <div class="stages">
                <div class="progress-bar green animate" *ngIf="transaction.status === 1">
                  <span style="width: 33.33%"><span style="color: #333;" statusText="1 of 3 confirmations"></span></span>
                </div>

                <div class="progress-bar green animate" *ngIf="transaction.status === 2">
                  <span style="width: 66.66%"><span style="color: #333;" statusText="2 of 3 confirmations"></span></span>
                </div>

                <div class="progress-bar green animate" *ngIf="transaction.status === 3">
                  <span style="width: 100%"><span statusText="3 of 3 confirmations"></span></span>
                </div>

                <div class="item" *ngIf="transaction.status === 3">
                  <b class="item-title">1. Done</b>
                  <div class="item-descr">
                    <i class="ic ic-success"></i>
                    <p class="p_small">Yout payment was successfuly accepted</p>
                  </div>
                </div>

                <div class="item" *ngIf="transaction.status === 1">
                  <b class="item-title">1. Pending</b>
                  <div class="item-descr">
                    <div class="loader"><div class="loader-inside"></div></div>
                    <p class="p_small">
                      Waiting to receive your payment
                      <small>Should be completed in <b>7 minutes</b> while online</small>
                    </p>
                  </div>
                </div>

                <div class="item" *ngIf="transaction.status === 2">
                  <b class="item-title">2. Pay</b>
                  <div class="item-descr">
                    <div class="loader"><div class="loader-inside"></div></div>
                    <p class="p_small">
                      We pay money to your account
                      <small>Should be completed in <b>3 minutes</b> while online</small>
                    </p>
                  </div>
                </div>


              </div>

              <div class="btn-wrapper text-center">
                <a routerLink="/home" class="btn btn-accentSecond rippler rippler-default">Go back</a>
              </div>

              <div id="review-wrapper">
                <div class="review" *ngIf="isLogged && transaction.clear_comment === ''">
                  <form class="form" [ngClass]="{'custom-loader disabled': loadingReview}" (submit)="submitReviews($event)" [formGroup]="reviewForm"  #reviewsForm="ngForm" novalidate>
                  <div class="rating">
                    <div class="star" [ngClass]="{'is-active': rating === 5}" (click)="setRating(5)"><img
                      src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    <div class="star" [ngClass]="{'is-active': rating === 4 || rating === 5}" (click)="setRating(4)">
                      <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    <div class="star" [ngClass]="{'is-active': rating === 3 || rating === 4 || rating === 5}" (click)="setRating(3)">
                      <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    <div class="star" [ngClass]="{'is-active': rating === 2 || rating === 3 || rating === 4 || rating === 5}" (click)="setRating(2)">
                      <img src="../assets/img/svg/star.svg" alt="" class="img-svg">
                    </div>
                    <div class="star"
                         [ngClass]="{'is-active': rating === 1 || rating === 2 || rating === 3 || rating === 4 || rating === 5  }" (click)="setRating(1)">
                      <img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                  </div>

                  <label class="form-group" [ngClass]="{'has-error': (reviewForm.controls['review'].hasError('required')
                              || reviewForm.controls['review'].hasError('minlength'))
                              && reviewsForm.submitted}">
                    <span class="form-title">Your comment</span>
                    <textarea class="form-control" [(ngModel)]="fieldReview" formControlName="review" name="review" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean id metu…"></textarea>
                    <span *ngIf="reviewForm.controls['review'].hasError('required') && reviewsForm.submitted" class="error-label">Required field</span>
                    <span *ngIf="reviewForm.controls['review'].hasError('maxlength') && reviewsForm.submitted" class="error-label">The maximum number of characters 640</span>
                  </label>


                  <div class="form-btn">
                    <label class="text-center">
                      <button class="btn btn-accentSecond rippler rippler-default" [disabled]="reviewForm.invalid && reviewsForm.submitted">Send rating and go back</button>
                    </label>
                  </div>

                  <div class="mobile-only text-center">
                    <a href="#" class="btn btn-accentSecond rippler rippler-default">{{ 'exchange.NewExchange' | translate }}</a>
                  </div>
                </form>
                  <div class="loadingSuccess" *ngIf="successAddReview">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
                      <g class="svg-success">
                        <circle cx="-250.5" cy="249.5" r="12"/>
                        <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
                      </g>
                    </svg>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="fixed-head desktop-only">
          <a href="#" class="btn btn-accentSecond rippler rippler-default">{{ 'exchange.NewExchange' | translate }}</a>
        </div>

      </div>
    </div>
  </div>
</div>


<style>
  .animate>span>span {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  }
  .progress-bar > span:after {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  }
</style>
