<div class="step">
  <div class="step-title"><h3 class="h3">3. Personal info and wallet</h3></div>

  <div class="text-center tip-link">
    <a href="#" class="link tt-uppercase sans-serif" (click)="fillLastData($event)">Fill from last</a>
  </div>

  <form class="form" [ngClass]="{'custom-loader disabled': loading}" (submit)="submit($event)" [formGroup]="step4Form"  #form4="ngForm" novalidate>

    <label class="form-group" [ngClass]="{'has-error':
           (step4Form.controls['id'].hasError('required')
           || step4Form.controls['id'].hasError('minlength')
           || step4Form.controls['id'].hasError('maxlength'))
           && form4.submitted}">
      <span class="form-title">Your wallet ID:</span>
      <input type="text" [(ngModel)]="formModel4.controlsId" formControlName="id" class="form-control" value="" required="">
      <span *ngIf="step4Form.controls['id'].hasError('required') && form4.submitted"
            class="error-label">Required field</span>
      <span *ngIf="(step4Form.controls['id'].hasError('minlength') || step4Form.controls['id'].hasError('maxlength')) && form4.submitted" class="error-label">The field  must be between 3 and 64 characters</span>
    </label>
    <label class="form-group" [ngClass]="{'has-error':
           (step4Form.controls['email'].hasError('required')
           || step4Form.controls['email'].hasError('email')
           || step4Form.controls['email'].hasError('minlength')
           || step4Form.controls['email'].hasError('maxlength'))
           && form4.submitted}">
      <span class="form-title">Contact e-mail:</span>
      <input type="text" [(ngModel)]="user.email" formControlName="email" class="form-control" placeholder="your@email.com">
      <span *ngIf="step4Form.controls['email'].hasError('required') && form4.submitted"
            class="error-label">Required field</span>
      <span *ngIf="step4Form.controls['email'].hasError('email') && !step4Form.controls['email'].hasError('required') && !step4Form.controls['email'].hasError('minlength') && !step4Form.controls['email'].hasError('maxlength') && form4.submitted"
            class="error-label">Incorrect email</span>
      <span *ngIf="(step4Form.controls['email'].hasError('minlength') || step4Form.controls['email'].hasError('maxlength')) && form4.submitted" class="error-label">The field  must be between 5 and 64 characters</span>

    </label>

    <label class="checkbox" [ngClass]="{'has-error': (step4Form.controls['checkbox'].hasError('required')
           && form4.submitted )}">
      <input [(ngModel)]="formModel4.checkboxForm" formControlName="checkbox" type="checkbox" name="policeAgree" class="checkbox-control" required>
      <span class="checkbox-icons"></span>
      <span class="checkbox-title">I agree to the <a href="#" class="link">Terms and Conditions</a> and <a href="#" class="link">Privacy Policy</a></span>
    </label>


    <div class="form-btn between-children">
      <a class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>


      <label>
        <button class="btn btn-accent rippler rippler-default" [disabled]="step4Form.invalid && form4.submitted">Exchange</button>
      </label>
    </div>
  </form>
</div>
