<div class="main inner-large">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Testimonials</h1></div>

      <div class="sub-title">
        <p class="p_large pre-line">Co o nás říkají naši spokojení zákazníci?
          Podívejte se na hodnocení transakcí, které nám zanechali.</p>
      </div>


      <div class="gratitude text-center">
        <img src="../assets/img/satisfaction_guarantee.png" alt="" class="img-left">
        <div class="gratitude-text">
          <hr>
          <h2 class="h2 pre-line">Více než <span class="accentColor">4,149 zákazníků</span> nám zanechalo
            hodnocení <span class="accentColor">5/5 hvězd</span>. Děkujeme.</h2>
        </div>
        <img src="../assets/img/green_shield_check_protected_checked.png" alt="" class="img-right">
      </div>
    </header>

    <div class="main__wrapper">
      <div class="content">
        <div class="blank tape-top no-padding">
          <div class="blank-content">
            <div class="hard-table hz-scroll">
              <table>
                <thead>
                <tr>
                  <th align="center">Uživatel:</th>
                  <th>Vstupní systém:</th>
                  <th>Vstupní částka:</th>
                  <th>Výstupní systém:</th>
                  <th>Výstupní částka:</th>
                  <th>ID transakce:</th>
                  <th>Hodnocení:</th>
                </tr>
                </thead>

                <tbody>
                <tr class="tr-default">
                  <td class="transfer-name">P*** N******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">10.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Bitcoin</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/bitcoin.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00018 <b>BTC</b></td>
                  <td><div class="transfer-id">74deedefda69b7046d</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>P*** D****</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE2 -->
                <tr class="tr-default">
                  <td class="transfer-name">L*** K******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Dash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/dash.png);"></div>
                    </div>
                  </td>
                  <td align="right">128.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.0048 <b>ETH</b></td>
                  <td><div class="transfer-id">4a84c4fab98fde</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>L*** K******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE3 -->
                <tr class="tr-default">
                  <td class="transfer-name">T***** N******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">8.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00000013 <b>ETH</b></td>
                  <td><div class="transfer-id">d40617172258939a</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>T***** N******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE4 -->
                <tr class="tr-default">
                  <td class="transfer-name">Danilka Kabak</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">8.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00000013 <b>ETH</b></td>
                  <td><div class="transfer-id">b04d9f689dc5a4ad5e60b</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>T***** N******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <tr class="tr-default">
                  <td class="transfer-name">P*** N******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">10.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Bitcoin</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/bitcoin.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00018 <b>BTC</b></td>
                  <td><div class="transfer-id">74deedefda69b7046d</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>P*** D****</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE2 -->
                <tr class="tr-default">
                  <td class="transfer-name">L*** K******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Dash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/dash.png);"></div>
                    </div>
                  </td>
                  <td align="right">128.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.0048 <b>ETH</b></td>
                  <td><div class="transfer-id">4a84c4fab98fde</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>L*** K******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE3 -->
                <tr class="tr-default">
                  <td class="transfer-name">T***** N******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">8.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00000013 <b>ETH</b></td>
                  <td><div class="transfer-id">d40617172258939a</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>T***** N******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE4 -->
                <tr class="tr-default">
                  <td class="transfer-name">Danilka Kabak</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">8.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00000013 <b>ETH</b></td>
                  <td><div class="transfer-id">b04d9f689dc5a4ad5e60b</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>T***** N******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <tr class="tr-default">
                  <td class="transfer-name">P*** N******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">10.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Bitcoin</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/bitcoin.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00018 <b>BTC</b></td>
                  <td><div class="transfer-id">74deedefda69b7046d</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>P*** D****</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE2 -->
                <tr class="tr-default">
                  <td class="transfer-name">L*** K******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Dash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/dash.png);"></div>
                    </div>
                  </td>
                  <td align="right">128.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.0048 <b>ETH</b></td>
                  <td><div class="transfer-id">4a84c4fab98fde</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>L*** K******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE3 -->
                <tr class="tr-default">
                  <td class="transfer-name">T***** N******</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">8.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00000013 <b>ETH</b></td>
                  <td><div class="transfer-id">d40617172258939a</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>T***** N******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>

                <!-- LINE4 -->
                <tr class="tr-default">
                  <td class="transfer-name">Danilka Kabak</td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Adv Cash</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/adv-cash.png);"></div>
                    </div>
                  </td>
                  <td align="right">8.00 <b>USD</b></td>
                  <td>
                    <div class="currency">
                      <div class="currency-name">Ethereum</div>
                      <div class="currency-icons" style="background-image: url(../assets/img/etherium.png);"></div>
                    </div>
                  </td>
                  <td align="right">0.00000013 <b>ETH</b></td>
                  <td><div class="transfer-id">b04d9f689dc5a4ad5e60b</div></td>
                  <td align="center">
                    <div class="rating">
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                      <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                    </div>
                  </td>
                </tr>
                <tr class="tr-content">
                  <td colspan="7">
                    <div class="tr-review">
                      <div class="tr-review__name"><b>T***** N******</b> říká o této transakci:</div>
                      <div class="tr-review__text">
                        <div class="rating rating-static">
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                          <div class="star is-active"><img src="../assets/img/svg/star.svg" alt="" class="img-svg"></div>
                        </div>
                        <div class="quote">Vše proběhlo v naprostém pořádku, peníze přišly opravdu rychle. Vážně nemám, co bych mohl k transakci namítat.
                          Zvláštní poděkování patří vašemu designérovi, který udělal příjemné a intuitivní rozhraní. :D”</div>
                      </div>
                      <div class="tr-review__autor"><a href="#" class="link tt-uppercase">Sbalit komentář</a></div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="paginator__wr">
          <div class="paginator">
            <div class="paginator__status"><span class="">Zobrazeno <b>3</b> z <b>15</b></span></div>
            <div class="paginator__btns">

              <ul class="pages pages_desktop">
                <li class="page rippler rippler-default is-disabled"><a >First</a></li>
                <li class="page rippler rippler-default is-disabled"><a >Previous</a></li>
                <li class="page rippler rippler-default is-selected"><a>1</a></li>
                <li class="page rippler rippler-default"><a>2</a></li>
                <li class="page rippler rippler-default"><a >3</a></li>
                <li class="page rippler rippler-default"><a >4</a></li>
                <li class="page rippler rippler-default"><a >5</a></li>
                <li class="page is-skip"><span>...</span></li>
                <li class="page rippler rippler-default"><a >9</a></li>
                <li class="page rippler rippler-default"><a >10</a></li>
                <li class="page rippler rippler-default"><a >Next</a></li>
                <li class="page rippler rippler-default"><a >Last</a></li>

              </ul>

              <ul class="pages pages_mobile">
                <li class="page rippler rippler-default is-disabled"><a >First</a></li>
                <li class="page rippler rippler-default is-selected"><a>1</a></li>
                <li class="page rippler rippler-default"><a>2</a></li>
                <li class="page rippler rippler-default"><a >3</a></li>
                <li class="page is-skip"><span>...</span></li>
                <li class="page rippler rippler-default"><a >10</a></li>
                <li class="page rippler rippler-default"><a >Last</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
