<div class="step">
  <div class="step-title"><h3 class="h3">2. Login</h3></div>

  <p class="p_small">
    <b>Fill</b> your <b>login information</b> into the <br>form below.
  </p>

  <form action="#" class="form" [ngClass]="{'custom-loader disabled': loading}"  [formGroup]="userAuthForm" (submit)="submit($event)"  #authForm="ngForm" novalidate>
    <label class="form-group"
           [ngClass]="{'has-error': (userAuthForm.controls['email'].hasError('required')
           || userAuthForm.controls['email'].hasError('email')
           || userAuthForm.controls['email'].hasError('maxlength'))
           && authForm.submitted}">
      <span class="form-title">Your e-mail:</span>
      <input [(ngModel)]="userAuth.email" formControlName="email" name="email" type="text" class="form-control">

      <span
        *ngIf="userAuthForm.controls['email'].hasError('required')
        && authForm.submitted" class="error-label">Required field</span>

      <span
        *ngIf="userAuthForm.controls['email'].hasError('email')
        && !userAuthForm.controls['email'].hasError('required')
        && !userAuthForm.controls['email'].hasError('maxlength')
        && authForm.submitted" class="error-label">Incorrect email</span>

      <span
        *ngIf="userAuthForm.controls['email'].hasError('maxlength') && !authForm.controls['email'].hasError('required')
        && authForm.submitted" class="error-label">The maximum number of characters 64</span>

    </label>

    <label class="form-group" [ngClass]="{'has-error': (userAuthForm.controls['password'].hasError('required')
           || userAuthForm.controls['password'].hasError('maxlength')
           || userNotFound)
           && authForm.submitted}">
      <span class="form-title">Password:</span>
      <input [(ngModel)]="userAuth.password" (keydown)="inputPassChanged()" formControlName="password" name="password" type="password" class="form-control"
             required="">
      <span
        *ngIf="(userAuthForm.controls['password'].hasError('required')
        || userAuthForm.controls['password'].hasError('maxlength'))
        && authForm.submitted" class="error-label">{{ 'errors.PasswordError' | translate }}</span>
      <span
        *ngIf="userNotFound
        && !userAuthForm.controls['password'].hasError('required')
        && !userAuthForm.controls['password'].hasError('maxlength')
        && authForm.submitted" class="error-label">{{ 'errors.AuthError' | translate }}</span>
    </label>

    <div class="forgot">
      <div class="text-center tip-link">
        <a href="#" (click)="goToForgotComp($event)" class="link sans-serif tt-uppercase">Forgot password?</a>
      </div>
    </div>


    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>

      <label>
        <button class="btn btn-accent rippler rippler-default" [disabled]="userAuthForm.invalid && authForm.submitted">Login</button>
      </label>
    </div>
  </form>


  <div class="loadingSuccess" *ngIf="successAuth">
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
      <g class="svg-success">
        <circle cx="-250.5" cy="249.5" r="12"/>
        <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
      </g>
    </svg>
  </div>
</div>
