<div class="main fadeIn animated">
  <div class="container">

    <header class="content__header">
      <div class="title"><h1 class="h1">Exchange your money</h1></div>

      <div class="sub-title">
        <p class="p_large">We are fast and secure. 100% SSL transactions and <br>
          our servers are DDOS protected.</p>
      </div>
    </header>


    <div class="content blank tape-top no-padding welcome-page" [ngClass]="{'custom-loader': loading}">
      <div class="color-loader" *ngIf="loading"></div>

      <div class="exchange" [ngClass]="{'is-check': stepsArray[17].status || stepsArray[1].status, 'is-viewDirection': viewDirectMobile && !stepsArray[13].status}">

        <div class="column" [ngClass]="{'is-visible': stepsArray[17].status || stepsArray[1].status || stepsArray[0].status}">
          <div class="column__head">
            <h2 class="title-great">You send</h2>
          </div>
          <div class="column__content" [ngClass]="{'is-disabled': processFill}">
            <div class="select-amount subblock">
              <form [formGroup]="exchangeFromForm" #fromForm="ngForm" novalidate>

                <label class="input-exchange"
                       [ngClass]="{'has-error':
                                      exchangeFromForm.controls['inputFrom'].hasError('maxlength')
                                      || exchangeFromForm.controls['inputFrom'].hasError('minCountLimit')}">

                  <div class="input">
                    <input type="text" [(ngModel)]="inputExchangeFrom" (keydown)='inputExchangeChanged($event)'
                           appNumberOnly (keyup)="inputFromChanged()" formControlName="inputFrom">
                    <span class="currency">{{selectedExchangeFrom?.currency || ''}}</span>
                  </div>

                  <span class="error-label"
                        *ngIf="(exchangeFromForm.controls['inputFrom'].hasError('email')
                               || exchangeFromForm.controls['inputFrom'].hasError('maxlength'))
                               && fromForm.submitted">{{ 'errors.ExchangeLimit' | translate }}</span>

                  <span class="error-label" *ngIf="exchangeFromForm.controls['inputFrom'].hasError('minCountLimit')">
                      {{ 'errors.minCountLimit' | translate }}
                    </span>

                  </label>
              </form>

              <!--<br>-->
              <!--<label class="input-exchange has-error">-->
              <!--<div class="input">-->
              <!--<input type="text">-->
              <!--<span class="currency">USD</span>-->
              <!--</div>-->

              <!--<span class="error-label">-->
              <!--{{ 'errors.ExchangeAmount' | translate }}-->
              <!--<a href="#"> {{ 'exchange.InputErrorLink' | translate }}</a>-->
              <!--</span>-->
              <!--</label>-->
              <!--<br>-->

              <!--<label class="input-exchange has-warn">-->
              <!--<div class="input">-->
              <!--<input type="text">-->
              <!--<span class="currency">USD</span>-->
              <!--</div>-->

              <!--<span class="error-label">{{ 'errors.ExchangeWarningVerify' | translate }}</span>-->
              <!--</label>-->
              <!--<br>-->
              <!--<br>-->
            </div>

            <div class="subblock mobile-hidden">
              <div class="subblock-title">
                <p class="p_middle">{{ 'exchange.choose' | translate }}:</p>
              </div>

              <div class="subblock-content">
                <div class="btns">
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterForm === 'All'}"
                       (click)="changeFromFilter($event)" filterValue="all">All
                  </div>
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterForm === 'USD'}"
                       (click)="changeFromFilter($event)" filterValue="usd">USD
                  </div>
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterForm === 'EUR'}"
                       (click)="changeFromFilter($event)" filterValue="eur">EUR
                  </div>
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterForm === 'Coin'}"
                       (click)="changeFromFilter($event)" filterValue="coin">Coin
                  </div>
                </div>
              </div>
            </div>

            <div class="subblock" [ngClass]="{'is-check-hidden': stepsArray[17].status || stepsArray[1].status}">
              <div class="subblock-title">
                <p class="p_middle">{{ 'exchange.PaymentMethod' | translate }}:</p>
              </div>

              <div class="text-center fadeIn animated" *ngIf="selectedFromNotChoise">
                <div class="alert alert-error">
                  <p>Warning: <br>Choose your payment system!</p>
                </div>
              </div>

              <div class="text-center fadeIn animated" *ngIf="noSuchFilterFrom">
                <div class="alert alert-error">
                  <p>Warning: <br>Nothing found!</p>
                </div>
              </div>


              <div class="subblock-content">
                <div class="currencies js-select-currencies">


                  <div class="item-wrapper mobile-hidden" *ngFor="let fromItem of exchangeFromArray; let i = index">
                    <div class="item" [ngClass]="{'is-selected': selectedExchangeFrom === fromItem}" *ngIf="i <= 5"
                         (click)="selectExchangeFrom(fromItem)">
                      <div class="item-icons" [style.background-image]="'url(' + fromItem.logo +')'"></div>
                      <div class="item-value" value="Advanced Cash"><span>{{fromItem.name}}</span> <span class="ttu">{{fromItem.currency}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="currencies-other js-view-other mobile-hidden" *ngIf="exchangeFromArray.length > 5">
                    <div class="item" text="Select other payment" replaceText="Hidden other payment">
                      <span>Select other payment </span>
                      <img src="../../assets/img/svg/arrow-down.svg" alt="View other"></div>
                  </div>

                  <div class="currencies-other js-view-other mobile-only">
                    <div class="item" text="Select other payment" replaceText="Hidden payment method">
                      <span>Select payment method </span>
                      <img src="../../assets/img/svg/arrow-down.svg" alt="View other"></div>
                  </div>

                  <div class="currencies-hidden">

                    <div class="item-wrapper mobile-hidden" *ngFor="let fromItem of exchangeFromArray; let i = index">
                      <div class="item" [ngClass]="{'is-selected': selectedExchangeFrom === fromItem}" *ngIf="i > 5"
                           (click)="selectExchangeFrom(fromItem)">
                        <div class="item-icons" [style.background-image]="'url(' + fromItem.logo +')'"></div>
                        <div class="item-value" value="Advanced Cash">{{fromItem.name}} <span class="ttu">{{fromItem.currency}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="item-wrapper mobile-only" *ngFor="let fromItem of exchangeFromArray; let i = index">
                      <div class="item" [ngClass]="{'is-selected': selectedExchangeFrom === fromItem}"
                           (click)="selectExchangeFrom(fromItem)">
                        <div class="item-icons" [style.background-image]="'url(' + fromItem.logo +')'"></div>
                        <div class="item-value" value="Advanced Cash">{{fromItem.name}} <span class="ttu">{{fromItem.currency}}</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">

          <div class="process-wr">
            <div class="process">
              <!--<img src="../../assets/img/svg/ic-angle.svg" alt="" class="svg process-arrow mobile-only">-->
              <div class="process__content">
                <div class="column__head">
                  <h2 class="title-great">Process</h2>
                </div>


                <div class="steps" id="steps">

                  <a href="#" (click)="viewDirectionChangeMobile($event)" *ngIf="!stepsArray[0].status && !stepsArray[13].status">
                    <img src="../../assets/img/svg/ic-angle.svg" alt="" class="svg process-arrow mobile-only">
                  </a>

                  <div class="step1" *ngIf="stepsArray[0].status">
                    <app-step1
                      [exchangeTo]="selectedExchangeTo"
                      [exchangeFrom]="selectedExchangeFrom"
                      [exchangeFromForm]="exchangeFromForm"
                      [exchangeToForm]="exchangeToForm"
                      [inputExchangeFrom]="inputExchangeFrom"
                      (onExchangeSwap)="exchangeSwap($event)"
                      (loading)="getStatusLoading($event)"
                      (exchangeSubmitResult)="checkExchangeSubmitResult($event)">
                    </app-step1>
                  </div>

                  <div class="step1-1" *ngIf="stepsArray[17].status">
                    <app-step1-1 (goBack)="offerGoToCheckBack($event)"
                                 (goNext)="offerGoToCheckNext($event)"
                                 (goAuth)="goToAuth()"
                                 [tempData]="tempOfferData"
                                 (goRegistration)="goToRegistr()">
                    </app-step1-1>
                  </div>

                  <!-- STEP12 -->
                  <div class="step2" *ngIf="stepsArray[1].status">
                    <app-step2 (goBack)="goToStart()"
                               (goAuth)="goToAuth()"
                               (goRegistration)="goToRegistr()"></app-step2>
                  </div>
                  <!-- STEP 3 -->
                  <div class="step3" *ngIf="stepsArray[2].status">
                    <app-step3 [exchangeFrom]="selectedExchangeFrom"
                               [inputExchangeFrom]="inputExchangeFrom"
                               [inputFrom]="inputExchangeFrom"
                               [selectedFrom]="selectedExchangeFrom"
                               (exchangeSubmitResult)="checkExchangeSubmitResult($event)"
                               (goForgot)="goToForgot()"
                               (goBack)="checkExchangeSubmitResult($event)"></app-step3>
                  </div>

                  <div class="step3-0" *ngIf="stepsArray[18].status">
                    <app-step3-0 (goBack)="goToAuth($event)"></app-step3-0>
                  </div>



                  <!-- STEP 3-1 -->
                  <div class="step3-1" *ngIf="stepsArray[3].status">
                    <app-step3-1 [exchangeFrom]="selectedExchangeFrom"
                                 [inputExchangeFrom]="inputExchangeFrom"
                                 (goBack)="checkExchangeSubmitResult($event)"
                                 (goNext)="goToForm3_2()"></app-step3-1>
                  </div>

                  <!-- STEP 3-2 -->
                  <div class="step3-2" *ngIf="stepsArray[4].status">
                    <app-step3-2 [inputFrom]="inputExchangeFrom"
                                 [selectedFrom]="selectedExchangeFrom"
                                 (exchangeSubmitResult)="checkExchangeSubmitResult($event)"
                                 (goBack)="goToRegistr()"></app-step3-2>
                  </div>

                  <!-- STEP 3-3 -->
                  <div class="step3-3" *ngIf="stepsArray[5].status">
                    <app-step3-3 [inputFrom]="inputExchangeFrom"
                                 [selectedFrom]="selectedExchangeFrom"
                                 (exchangeSubmitResult)="checkExchangeSubmitResult($event)"
                                 (goBack)="goToStart()"></app-step3-3>
                  </div>

                  <!-- STEP 3-4 -->
                  <div class="step3-4" *ngIf="stepsArray[6].status">
                    <app-step3-4 (goBack)="goToStart()"
                                 (goNext)="goToKyc()"></app-step3-4>
                  </div>

                  <!-- STEP 3-5 -->
                  <div class="step3-5" *ngIf="stepsArray[7].status">
                    <app-step3-5 (goBack)="goToId()"
                                 (goNext)="goToVerifySuccess()"></app-step3-5>
                  </div>

                  <!-- STEP 3-6 -->
                  <div class="step3-6" *ngIf="stepsArray[8].status">
                    <app-step3-6 [inputFrom]="inputExchangeFrom"
                                 [selectedFrom]="selectedExchangeFrom"
                                 (goBack)="goToKyc()"
                                 (goToStart)="goToStart($event)"></app-step3-6>
                  </div>

                  <!-- STEP 4 -->
                  <div class="step4" *ngIf="stepsArray[9].status">
                    <app-step4 (goBack)="goToStart()"
                               (goNext)="checkRegistrStep($event)" ></app-step4>
                  </div>


                  <!-- STEP 4-1 -->
                  <div class="step4-1" *ngIf="stepsArray[10].status">
                    <app-step4-1 (goBack)="goToStart()"
                                 (goNext)="checkRegistrStep($event)"></app-step4-1>
                  </div>

                  <!-- STEP 4-2 -->
                  <div class="step4-2" *ngIf="stepsArray[11].status">
                    <app-step4-2 (goNext)="goToForm5Czk($event)"
                                 (goBack)="goToStart()"></app-step4-2>
                  </div>

                  <!-- STEP 4-3 -->
                  <div class="step4-3" *ngIf="stepsArray[12].status">
                    <app-step4-3></app-step4-3>
                  </div>

                  <!-- STEP 5 -->
                  <div class="step5" *ngIf="stepsArray[13].status">
                    <app-step5 [inputFrom]="inputExchangeFrom"
                               [selectedFrom]="selectedExchangeFrom"
                               [inputTo]="inputExchangeTo"
                               [selectedTo]="selectedExchangeTo"
                               [Wallet]="dataFormWallet"
                               [BankEur]="dataBankEur"
                               [BankCzk]="dataBankCzk"
                               (goBack)="goToForm4()"
                               (goForm4_1)="goToForm4_1()"
                               (goForm4_2)="goToForm4_2()"
                               (goStart)="goToStart()" ></app-step5>
                  </div>




                  <!-- STEP 6 -->
                  <div class="step6" *ngIf="stepsArray[14].status">
                    <app-step6 [dataBank]="dataBankEur"
                               (goBack)="goToForm4_1()"></app-step6>
                  </div>

                  <!-- STEP 6-1 -->
                  <div class="step6-1" *ngIf="stepsArray[15].status">
                    <app-step6-1 [inputFrom]="inputExchangeFrom"
                                 [selectedFrom]="selectedExchangeFrom"
                                 [dataBank]="dataBankCzk"
                                 (goBack)="goToForm4_2()"></app-step6-1>
                  </div>

                  <!-- STEP 6-2 -->
                  <div class="step6-2" *ngIf="stepsArray[16].status">
                    <app-step6-2></app-step6-2>
                  </div>

                  <div class="steps-footer">
                    <div class="dots line-sides">
                      <a class="dot" [ngClass]="{'is-active': stepsArray[0].status}"></a>
                      <a class="dot" [ngClass]="{'is-active': stepsArray[1].status
                                                                    || stepsArray[2].status
                                                                    || stepsArray[3].status
                                                                    || stepsArray[4].status
                                                                    || stepsArray[5].status
                                                                    || stepsArray[6].status
                                                                    || stepsArray[7].status
                                                                    || stepsArray[8].status}"></a>

                      <a class="dot" [ngClass]="{'is-active': stepsArray[9].status
                                                                    || stepsArray[10].status
                                                                    || stepsArray[11].status}"></a>

                      <a class="dot" [ngClass]="{'is-active': stepsArray[13].status}"></a>


                      <a class="dot" [ngClass]="{'is-active': stepsArray[14].status
                                                                    || stepsArray[15].status
                                                                    || stepsArray[16].status}"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column" [ngClass]="{'is-visible': stepsArray[17].status || stepsArray[1].status || stepsArray[0].status}">
          <div class="column__head">
            <h2 class="title-great">You receive</h2>
          </div>
          <div class="column__content" [ngClass]="{'is-disabled': processFill}">
            <div class="select-amount subblock">

              <form [formGroup]="exchangeToForm" #toForm="ngForm" novalidate>

                <label class="input-exchange"
                       [ngClass]="{'has-error':
                                      (exchangeToForm.controls['inputTo'].hasError('maxlength') ||

                                      (exchangeToForm.controls['inputTo'].hasError('maxbalance')
                                      || exchangeFromForm.controls['inputFrom'].hasError('maxCountLimit')) ),
                                     'has-warn':
                                      exchangeToForm.controls['inputTo'].hasError('email')}">
                  <div class="input">


                    <input type="text" [(ngModel)]="inputExchangeTo" (keydown)='inputExchangeChanged($event)'
                           appNumberOnly (keyup)="inputToChanged()" formControlName="inputTo">
                    <span class="currency">{{selectedExchangeTo?.currency || ''}}</span>
                  </div>



                  <span class="error-label" *ngIf="exchangeFromForm.controls['inputFrom'].hasError('maxCountLimit')
                      || exchangeToForm.controls['inputTo'].hasError('maxbalance')">
                      {{ 'errors.ExchangeAmount' | translate }}
                      <a routerLink="/contacts">Contuct us</a>
                  </span>


                </label>
              </form>
            </div>

            <div class="subblock mobile-hidden">
              <div class="subblock-title">
                <p class="p_middle">{{ 'exchange.choose' | translate }}:</p>
              </div>

              <div class="subblock-content">
                <div class="btns">
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterTo === 'All'}"
                       (click)="changeToFilter($event)" filterValue="all">All
                  </div>
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterTo === 'USD'}"
                       (click)="changeToFilter($event)" filterValue="usd">USD
                  </div>
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterTo === 'EUR'}"
                       (click)="changeToFilter($event)" filterValue="eur">EUR
                  </div>
                  <div class="item" [ngClass]="{'is-selected': btnSelectedFilterTo === 'Coin'}"
                       (click)="changeToFilter($event)" filterValue="coin">Coin
                  </div>
                </div>
              </div>
            </div>

            <div class="subblock" [ngClass]="{'is-check-hidden': stepsArray[17].status || stepsArray[1].status}">
              <div class="subblock-title">
                <p class="p_middle">{{ 'exchange.PaymentMethod' | translate }}:</p>
              </div>

              <div class="text-center fadeIn animated" *ngIf="selectedToNotChoise">
                <div class="alert alert-error">
                  <p>Warning: <br>Choose your payment system!</p>
                </div>
              </div>

              <div class="text-center fadeIn animated" *ngIf="noSuchFilterTo">
                <div class="alert alert-error">
                  <p>Warning: <br>Nothing found!</p>
                </div>
              </div>

              <div class="subblock-content">
                <div class="currencies js-select-currencies">


                  <div class="item-wrapper mobile-hidden" *ngFor="let toItem of exchangeToArray; let i = index">
                    <div class="item" [ngClass]="{'is-selected': selectedExchangeTo === toItem}" *ngIf="i <= 5"
                         (click)="selectExchangeTo(toItem)">
                      <div class="item-icons" [style.background-image]="'url(' + toItem.logo +')'"></div>
                      <div class="item-value" [attr.value]="toItem.name">{{toItem.name}} <span class="ttu">{{toItem.currency}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="currencies-other js-view-other mobile-hidden" *ngIf="exchangeToArray.length > 5">
                    <div class="item" text="Select other payment" replaceText="Hidden other payment">
                      <span>Select other payment </span>
                      <img src="../../assets/img/svg/arrow-down.svg" alt="View other"></div>
                  </div>

                  <div class="currencies-other js-view-other mobile-only">
                    <div class="item" text="Select other payment" replaceText="Hidden payment method">
                      <span>Select payment method </span>
                      <img src="../../assets/img/svg/arrow-down.svg" alt="View other"></div>
                  </div>

                  <div class="currencies-hidden">

                    <div class="item-wrapper" *ngFor="let toItem of exchangeToArray; let i = index">
                      <div class="item" [ngClass]="{'is-selected': selectedExchangeTo === toItem}" *ngIf="i > 5"
                           (click)="selectExchangeTo(toItem)">
                        <div class="item-icons" [style.background-image]="'url(' + toItem.logo +')'"></div>
                        <div class="item-value" [attr.value]="toItem.name">{{toItem.name}} <span class="ttu">{{toItem.currency}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="item-wrapper mobile-only" *ngFor="let toItem of exchangeToArray; let i = index">
                      <div class="item" [ngClass]="{'is-selected': selectedExchangeTo === toItem}"
                           (click)="selectExchangeTo(toItem)">
                        <div class="item-icons" [style.background-image]="'url(' + toItem.logo +')'"></div>
                        <div class="item-value" [attr.value]="toItem.name">{{toItem.name}} <span class="ttu">{{toItem.currency}}</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
