<div class="step">
  <div class="step-title"><h3 class="h3">2. ID verified!</h3></div>

  <p class="p_small">
    Congratulations! Your identity card was <br>
    verified. Let’s <b>continue</b> with your <b>KYC questionnaire</b>.
  </p>

  <form action="#" class="form">

    <ul class="tip-list">
      <li><b>Download</b> KYC questionnaire</li>
      <li><b>Fill</b> in necessary information</li>
      <li><b>Upload</b> photo of filled KYC</li>
    </ul>

    <a href="#" class="btn btn-accent rippler rippler-default js-file-upload full-width">Downlaod KYC</a>

    <br><hr class="full-width">

    <div class="form-group">
      <span class="form-title">Upload image of your KYC:</span>
      <label class="upload-file">
        <input type="file" class="form-control" required="">
        <span class="upload-file__name">No file chosen</span>
        <span class="btn btn-accent rippler rippler-default js-file-upload">Choose file</span>
      </label>
      <span class="error-label">Bad file format, supported - jpg and png</span>
    </div>

    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default">Verify KYC</a>
        <input type="submit" hidden>
      </label>
    </div>
  </form>
</div>
