<div class="step">
  <div class="step-title"><h3 class="h3">2. Awaiting account moderation</h3></div>

  <p class="p_small">
    Awaiting account moderation.
  </p>

  <form action="#" class="form">
    <div class="form-btn between-children">
      <a class="btn btn-border btn-border_accent rippler rippler-default" (click)="goToBack($event)">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default" (click)="goToNext($event)">Finish</a>
      </label>
    </div>
  </form>
</div>
