<div class="step">
  <div class="step-title"><h3 class="h3">2. Account is verified!</h3></div>

  <p class="p_small">
    Congratulations! You can <b>continue</b> with your <br><b>transaction process</b>.
  </p>

  <form action="#" class="form">
    <div class="form-btn between-children">
      <a href="#" class="btn btn-border btn-border_accent rippler rippler-default">Back</a>

      <label>
        <a href="#" class="btn btn-accent rippler rippler-default">Continue</a>
        <input type="submit" hidden>
      </label>
    </div>
  </form>
</div>
