
  <div class="main inner inner-single fadeIn animated">
    <div class="container">

      <header class="content__header">
        <div class="title title-single"><h1 class="h1">Your account - settings</h1></div>

      </header>

      <div class="main__wrapper">
        <div class="navbars" >
          <nav class="navbars-nav">
            <div class="item">
              <div class="item__title ">General</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#step1">Personal Information</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title">Verification</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#step2">Limit1 - default</a></li>
                  <li><a href="#step3">Limit2 - phone number</a></li>
                  <li><a href="#step4">Limit3 - ID verification</a></li>
                  <li><a href="#step5">Limit4 - KYC</a></li>
                </ol>
              </div>
            </div>

            <div class="item">
              <div class="item__title">Security</div>
              <div class="item__nav">
                <ol>
                  <li><a href="#step6">Last logins</a></li>
                  <li><a href="#step7">Change my password</a></li>
                </ol>
              </div>
            </div>
          </nav>
        </div>

        <div class="content">

          <div class="settings">

            <div class="blank-self tape-top" id="step1" [ngClass]="{'custom-loader disabled': loadingMain}">
              <div class="blank-self__head">
                <h2 class="title-great">General</h2>
              </div>

              <div class="blank-self__content">
                <div class="content">
                  <div class="items list-numeric">
                    <div class="item">
                      <div class="item__head title-inner opened">Personal Information</div>
                      <div class="item__content">
                        <form class="form" (submit)="submitMainForm($event)"  #mainInfo="ngForm" novalidate>
                          <label class="form-group">
                            <span class="form-title">{{ 'exchange.PersonalInfo.Name' | translate }}:</span>
                            <input [(ngModel)]="userModel.name" name="name"  type="text" class="form-control" required="">
                            <span class="error-label">Hesla se neshodují</span>
                          </label>

                          <label class="form-group">
                            <span class="form-title">{{ 'exchange.PersonalInfo.Address' | translate }}:</span>
                            <input [(ngModel)]="userModel.address" name="address" type="text" class="form-control">
                            <span class="error-label">Hesla se neshodují</span>
                          </label>

                          <div class="between-children">
                            <label class="form-group">
                              <span class="form-title">{{ 'exchange.PersonalInfo.Country' | translate }}:</span>
                              <input [(ngModel)]="userModel.country" name="country" type="text" class="form-control">
                              <span class="error-label">Hesla se neshodují</span>
                            </label>

                            <div class="form-btn">
                              <label>
                               <div class="loadingSuccess" *ngIf="successMain">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
                                    <g class="svg-success">
                                      <circle cx="-250.5" cy="249.5" r="12"/>
                                      <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
                                    </g>
                                  </svg>
                                </div>
                                <button class="btn btn-accentSecond rippler rippler-default">Apply changes</button>
                                <input type="submit" hidden>
                              </label>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="blank-self" id="step2">

              <div class="blank-self__head">
                <h2 class="title-great">Verification <span class="title-status">{{ 'Settings.VerificationTitle' | translate }}</span></h2>
              </div>

              <div class="blank-self__content">
                <div class="content">
                  <div class="items list-numeric">
                    <!-- STEP1 -->
                    <div class="item">
                      <div class="item__head title-inner opened">{{ 'Settings.VerificationLimit1' | translate }}</div>
                    </div>

                    <div class="item" id="step3">
                      <div class="line-sides">{{ 'Settings.NextLevel' | translate }}</div>

                      <div class="item__head title-inner">
                        {{ 'Settings.VerificationLimit2' | translate }}
                        <div class="settings-tip p_small desktop-only">You need to verify your <b>e-mail address</b> and <br> <b>phone number</b> to exchange 250 - 999 €.</div>
                      </div>

                      <form class="form" *ngIf="userModel.verification_phone_ok && !verification_phone_form">
                        <div class="form-group is-disabled no-opacity">
                          <span class="form-title">Your phone number:</span>
                          <label class="phone-send">
                            <int-phone-prefix class='country-prefix' [(ngModel)]="userModel.phone" [ngModelOptions]="{standalone: true}" [locale]="'en'"></int-phone-prefix>
                            <button class="btn btn-accent rippler rippler-default is-disabled"> Send code</button>
                          </label>
                        </div>
                        <div class="form-group small-indent">
                          <div class="text-center tip-link">
                            <a href="#" class="link tt-uppercase pt-sans" (click)="display_phone_form($event)">Change phone</a>
                            <div class="timer"></div>
                          </div>
                        </div>

                        <div class="checkbox checkbox-success" *ngIf="userModel.verification_phone_ok && !verification_phone_form">
                          <input type="checkbox" class="checkbox-cotrol" checked>
                          <span class="checkbox-icons"></span>
                          <span class="checkbox-title">
                            <span class="verified">
                              <span class="verified-success">
                                  Congratulations! Your phone number was <br>
                                  verified.
                              </span>
                            </span>
                          </span>
                        </div>
                      </form>

                      <div *ngIf="!userModel.verification_phone_ok || verification_phone_form">
                        <form class="form" [ngClass]="{'custom-loader disabled': loadingSms}"
                              (submit)="submitSms($event)"
                              [formGroup]="phoneForm" #formPhone="ngForm" novalidate>

                          <div class="form-group" [ngClass]="{'has-error':
                           (phoneForm.controls['phone'].hasError('required')
                           || phoneForm.controls['phone'].hasError('invalid')
                           || phoneForm.controls['phone'].hasError('minlength'))
                           && formPhone.submitted}">
                            <span class="form-title">Your phone number:</span>
                            <label class="phone-send">
                              <int-phone-prefix class='country-prefix' [(ngModel)]="fieldPhone" formControlName="phone"
                                                [locale]="'en'"></int-phone-prefix>
                              <!--<input type="text" [(ngModel)]="fieldPhone" formControlName="phone" mask="(000)-000-00-00" class="form-control" placeholder="(000)-000-00-00" required="">-->
                              <button class="btn btn-accent rippler rippler-default"
                                      [disabled]="formPhone.invalid && formPhone.submitted || btnDisabled">Send code
                              </button>
                            </label>
                            <span *ngIf="phoneForm.controls['phone'].hasError('required') && formPhone.submitted"
                                  class="error-label">Required field</span>
                            <span *ngIf="phoneForm.controls['phone'].hasError('invalid') && formPhone.submitted"
                                  class="error-label">Not valid phone number format</span>
                            <span *ngIf="phoneForm.controls['phone'].hasError('minlength') && formPhone.submitted"
                                  class="error-label">The minimum number of characters 10</span>
                          </div>
                        </form>

                        <form class="form" [ngClass]="{'custom-loader disabled': loadingCode}"
                              (submit)="verififcationCode($event)"
                              [formGroup]="codeForm" #formCode="ngForm" novalidate>
                          <div class="between-children">
                            <label class="form-group" [ngClass]="{'has-error':
                           (codeForm.controls['code'].hasError('required')
                           || codeForm.controls['code'].hasError('maxlength')
                           || codeForm.controls['code'].hasError('invalid'))
                           && formCode.submitted}">
                              <span class="form-title">Activation code:</span>
                              <input type="text" [(ngModel)]="fieldCode" formControlName="code" class="form-control"
                                     required="" placeholder="l7d8w9">
                              <span *ngIf="codeForm.controls['code'].hasError('required') && formCode.submitted"
                                    class="error-label">Required field</span>
                              <span *ngIf="codeForm.controls['code'].hasError('maxlength') && formCode.submitted"
                                    class="error-label">The maximum number of characters 64</span>
                              <span *ngIf="codeForm.controls['code'].hasError('invalid') && formCode.submitted"
                                    class="error-label">The code is invalid</span>
                            </label>

                            <div class="form-group small-indent mobile-only">
                              <div class="text-center tip-link">
                                <a href="#" class="link tt-uppercase" [ngClass]="{'is-disabled': sendAgainDisabled}"
                                   (click)="submitSms($event)">Change my passwordain</a>
                                <div class="timer"></div>
                              </div>
                            </div>

                            <div class="form-btn">
                              <label>
                                <button class="btn btn-accentSecond rippler rippler-default"
                                        [disabled]="codeForm.controls['code'].hasError('required') || codeForm.controls['code'].hasError('maxlength')">
                                  {{ 'Settings.ConfirmBtn' | translate }}
                                </button>
                              </label>
                            </div>
                          </div>

                          <div class="form-group small-indent desktop-only">
                            <div class="text-center tip-link">
                              <a href="#" class="link tt-uppercase" [ngClass]="{'is-disabled': sendAgainDisabled}"
                                 (click)="submitSms($event)">Send Again</a>
                              <div class="timer"></div>
                            </div>
                          </div>

                        </form>

                        <div class="loadingSuccess" *ngIf="successSendSms">
                          <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
                            <g class="svg-success">
                              <circle cx="-250.5" cy="249.5" r="12"/>
                              <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
                            </g>
                          </svg>
                        </div>
                      </div>

                    </div>


                    <div class="item" id="step4" [ngClass]="{'is-disabled': !userModel.verification_phone_ok}"  >
                      <div class="line-sides">{{ 'Settings.NextLevel' | translate }}</div>

                      <div class="item__head title-inner">
                        {{ 'Settings.VerificationLimit3' | translate }}
                        <div class="settings-tip p_small desktop-only">You need to verify your <b>identity card</b> <br>to exchange 1 000 - 14 999 €.</div>
                      </div>

                        <form class="form" [ngClass]="{'custom-loader disabled': loadingIdCard}" (submit)="submitIdCardForm($event)" [formGroup]="idCardForm" #ngIdCardForm="ngForm" novalidate >

                        <div class="between-children">
                          <div class="form-group">
                            <span class="form-title">Upload image of your ID card:</span>
                            <label class="upload-file">
                              <input type="file" (change)="fileChangeIdCard($event)" formControlName="file" class="form-control" placeholder="Upload file" accept="image/*">
                              <span class="upload-file__name" [ngClass]="{rtl: IdCardFileName}">{{IdCardFileName}}</span>
                              <span class="btn btn-accent rippler rippler-default js-file-upload">Choose file</span>
                            </label>

                            <div class="has-error" *ngIf="idCardForm.controls['file'].hasError('required') && ngIdCardForm.submitted">
                              <span class="error-label">This field is required!</span>
                            </div>

                            <div class="has-error" *ngIf="idCardForm.controls['file'].hasError('badformat')">
                              <span class="error-label">Bad file format, supported - jpg and png</span>
                            </div>

                            <div class="has-error" *ngIf="idCardForm.controls['file'].hasError('maxsize')">
                              <span class="error-label">Max size 120 KB</span>
                            </div>

                            <div class="settings-tip p_small mobile-only">You need to verify your <b>identity card</b> <br>to exchange 1 000 - 14 999 €.</div>
                          </div>
                          <div class="form-btn">
                            <label>
                              <div class="loadingSuccess" *ngIf="successIdCard">
                                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
                                  <g class="svg-success">
                                    <circle cx="-250.5" cy="249.5" r="12"/>
                                    <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
                                  </g>
                                </svg>
                              </div>
                              <button type="submit" class="btn btn-accentSecond rippler rippler-default" [disabled]="idCardForm.invalid && ngIdCardForm.submitted">{{ 'Settings.UploadBtn' | translate }}</button>
                            </label>
                          </div>
                        </div>
                        <div class="checkbox checkbox-success" *ngIf="userModel.verification_image">
                          <input type="checkbox" class="checkbox-cotrol" checked>
                          <span class="checkbox-icons"></span>
                          <span class="checkbox-title">
                            <span class="verified">
                              <span class="verified-success">Document uploaded! Link to the <a [attr.href]="userModel.verification_image" target="_blank" class="link">document</a></span>
                              <span class="verified-success" *ngIf="userModel.verification_ok">Document <b>verified</b>!</span>
                              <span *ngIf="!userModel.verification_ok">The document has <b>not been verified</b> yet!</span>
                            </span>
                          </span>
                        </div>
                      </form>
                    </div>

                    <div class="item" id="step5" [ngClass]="{'is-disabled': !step4Show}">
                      <div class="line-sides">{{ 'Settings.NextLevel' | translate }}</div>

                      <div class="item__head title-inner">
                        {{ 'Settings.VerificationLimit4' | translate }}
                        <div class="settings-tip p_small desktop-only">You need to verify <b>KYC questionnaire</b> <br>to exchange unlimited €.</div>
                      </div>

                      <form class="form" (submit)="submitKycForm($event)" [formGroup]="KycForm" #ngKycForm="ngForm" novalidate [ngClass]="{'custom-loader disabled': loadingKyc}">

                        <div class="form-group">
                          <ul class="tip-list">
                            <li><b>Download</b> KYC questionnaire</li>
                            <li><b>Fill</b> in necessary information</li>
                            <li><b>Upload</b> photo of filled KYC</li>
                          </ul>

                          <div class="form-btn">
                            <a href="#" class="btn btn-accent rippler rippler-default js-file-upload full-width">Download KYC</a>
                          </div>

                          <div class="settings-tip p_small mobile-only">You need to verify <b>KYC questionnaire</b> <br>to exchange unlimited €.</div>
                        </div>

                        <div class="between-children">
                          <div class="form-group">
                            <span class="form-title">Upload image of your ID card:</span>
                            <label class="upload-file">
                              <input type="file" (change)="fileChangeKyc($event)" formControlName="file" class="form-control" placeholder="Upload file" accept="image/*">
                              <span class="upload-file__name" [ngClass]="{rtl: KycFileName}">{{KycFileName}}</span>
                              <span class="btn btn-accent rippler rippler-default js-file-upload">Choose file</span>
                            </label>

                            <div class="has-error" *ngIf="KycForm.controls['file'].hasError('required') && ngKycForm.submitted">
                              <span class="error-label">This field is required!</span>
                            </div>

                            <div class="has-error" *ngIf="KycForm.controls['file'].hasError('badformat')">
                              <span class="error-label">Bad file format, supported - jpg and png</span>
                            </div>

                            <div class="has-error" *ngIf="KycForm.controls['file'].hasError('maxsize')">
                              <span class="error-label">Max size 120 KB</span>
                            </div>

                          </div>
                          <div class="form-btn">
                            <label>
                              <div class="loadingSuccess" *ngIf="successKycTip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
                                  <g class="svg-success">
                                    <circle cx="-250.5" cy="249.5" r="12"/>
                                    <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
                                  </g>
                                </svg>
                              </div>
                              <button class="btn btn-accentSecond rippler rippler-default" [disabled]="KycForm.invalid && ngKycForm.submitted">{{ 'Settings.SendBtn' | translate }}</button>
                            </label>
                          </div>
                        </div>
                        <div class="checkbox checkbox-success" *ngIf="userModel.verification_kyc">
                          <input type="checkbox" class="checkbox-cotrol" checked>
                          <span class="checkbox-icons"></span>
                          <span class="checkbox-title">
                            <span class="verified">
                              <span class="verified-success">Document uploaded! Link to the <a [attr.href]="userModel.verification_kyc" target="_blank" class="link">document</a></span>
                              <span class="verified-success" *ngIf="userModel.verification_kyc_ok">Document <b>verified</b>!</span>
                              <span *ngIf="!userModel.verification_kyc_ok">The document has <b>not been verified</b> yet!</span>
                            </span>
                          </span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="blank-self">

              <div class="blank-self__head">
                <h2 class="title-great">Security</h2>
              </div>

              <div class="blank-self__content">
                <div class="content">
                  <div class="items list-numeric">

                    <div class="item" id="step6" [ngClass]="{'custom-loader disabled': loadingLogs}">
                      <div class="item__head title-inner opened">Last logins</div>
                      <div class="item__content">
                        <div class="hz-scroll">
                          <table class="default-table ">
                            <thead>
                            <tr>
                              <th>Signed In</th>
                              <th>Browser</th>
                              <th>IP address</th>
                              <th>Near</th>
                              <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr *ngFor="let logsItem of logsArray; let i = index">
                              <td>{{logsItem.created_at | date: 'MMMM d, y'}}</td>
                              <td>{{logsItem.browser}}</td>
                              <td>{{logsItem.ip}}</td>
                              <td>{{logsItem.geo}}</td>
                              <td *ngIf="!logsItem.active"></td>
                              <td *ngIf="logsItem.active"><a (click)="logoutAll($event, logsItem)" class="link">X</a></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <hr>
                    </div>

                    <div class="item" id="step7" [ngClass]="{'custom-loader disabled': loadingPass}">
                      <div class="item__head title-inner">Change my password</div>
                      <div class="item__content">
                        <form class="form" (submit)="submitPassForm($event)" [formGroup]="passwordForm"  #passForm="ngForm">

                          <label class="form-group" [ngClass]="{'has-error': (passwordForm.controls['passwordOld'].hasError('required')
                                 || passwordForm.controls['passwordOld'].hasError('minlength')
                                 || passwordForm.controls['passwordOld'].hasError('notequal'))
                                 && passForm.submitted}">
                            <span class="form-title">Current password:</span>
                            <input [(ngModel)]="passwordOld" formControlName="passwordOld" name="passwordOld" type="password" class="form-control" value="">
                            <span *ngIf="(passwordForm.controls['passwordOld'].hasError('required')
                                  || passwordForm.controls['passwordOld'].hasError('minlength'))
                                  && passForm.submitted" class="error-label">Hesla se neshodují</span>

                            <span *ngIf=" passwordForm.controls['passwordOld'].hasError('notequal')
                                  && passForm.submitted" class="error-label">Current password is wrong!</span>
                          </label>

                          <label class="form-group" [ngClass]="{'has-error': (passwordForm.controls['passwordNew'].hasError('required')
                                 || passwordForm.controls['passwordNew'].hasError('minlength'))
                                 && passForm.submitted}">
                            <span class="form-title">New password:</span>
                            <input [(ngModel)]="passwordNew" type="password" formControlName="passwordNew" class="form-control" value="">
                            <span
                              *ngIf="(passwordForm.controls['passwordNew'].hasError('required')
                                  || passwordForm.controls['passwordNew'].hasError('minlength'))
                                  && passForm.submitted" class="error-label">Hesla se neshodují</span>
                          </label>

                          <div class="between-children">
                            <label class="form-group" [ngClass]="{'has-error': passwordForm.controls['repasswordNew'].hasError('matchOther') && passForm.submitted}">
                              <span class="form-title">New password again:</span>
                              <input [(ngModel)]="repasswordNew" type="password" formControlName="repasswordNew" class="form-control" value="">
                              <span *ngIf="passwordForm.controls['repasswordNew'].hasError('matchOther') && passForm.submitted" class="error-label">Required field</span>
                            </label>

                            <div class="form-btn">
                              <label>
                                <div class="loadingSuccess" *ngIf="successPassTip">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="-263.5 236.5 26 26">
                                    <g class="svg-success">
                                      <circle cx="-250.5" cy="249.5" r="12"/>
                                      <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
                                    </g>
                                  </svg>
                                </div>
                                <button class="btn btn-accentSecond rippler rippler-default">Change password</button>
                                <input type="submit" hidden>
                              </label>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>



            <div class="paginator__wr" style="display: none">
              <div class="paginator">
                <div class="paginator__status"><span class="">Zobrazeno <b>3</b> z <b>15</b></span></div>
                <div class="paginator__btns">

                  <ul class="pages pages_desktop">
                    <li class="page rippler rippler-default is-disabled"><a >First</a></li>
                    <li class="page rippler rippler-default is-disabled"><a >Previous</a></li>
                    <li class="page rippler rippler-default is-selected"><a>1</a></li>
                    <li class="page rippler rippler-default"><a>2</a></li>
                    <li class="page rippler rippler-default"><a >3</a></li>
                    <li class="page rippler rippler-default"><a >4</a></li>
                    <li class="page rippler rippler-default"><a >5</a></li>
                    <li class="page is-skip"><span>...</span></li>
                    <li class="page rippler rippler-default"><a >9</a></li>
                    <li class="page rippler rippler-default"><a >10</a></li>
                    <li class="page rippler rippler-default"><a >Next</a></li>
                    <li class="page rippler rippler-default"><a >Last</a></li>

                  </ul>


                  <ul class="pages pages_mobile">
                    <li class="page rippler rippler-default is-disabled"><a >First</a></li>
                    <li class="page rippler rippler-default is-selected"><a>1</a></li>
                    <li class="page rippler rippler-default"><a>2</a></li>
                    <li class="page rippler rippler-default"><a >3</a></li>
                    <li class="page is-skip"><span>...</span></li>
                    <li class="page rippler rippler-default"><a >10</a></li>
                    <li class="page rippler rippler-default"><a >Last</a></li>
                  </ul>



                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
